[2014-10-17 16:02] airbreather opened #11 "WpfGeometryReader Creates Self-Intersecting Polygons"
Not sure how high a priority NetTopologySuite.Windows.Media is to you guys, or even how complete it's supposed to be at this point considering that it doesn't go out to NuGet, but I was browsing the code and was interested to see how NTS handled the problem of creating topologically valid geometries when [PathFigure.FillRule](http://msdn.microsoft.com/en-us/library/system.windows.media.pathgeometr

[2014-10-29 11:12] DGuidi opened #15 "TopoJSON reader/writer"
Copied from Google Code [Issue 166](https://code.google.com/p/nettopologysuite/issues/detail?id=166)

[2014-11-05 08:55] shaahink opened #16 "GeoJSON Reader and FeatureCollection json"
Hello,

I am having problem when I try to deserialize below FeatureCollection.

{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"type":"Polygon","coordinates":[[[-2.537841796875,53.50111704294316],[-2.537841796875,54.226707764386695],[-1.0986328125,54.226707764386695],[-1.0986328125,53.50111704294316],[-2.537841796875,53.50111704294316]]]}},{"type":"Feature","

[2014-12-04 08:17] DGuidi opened #26 "Inspect PCL issues using .NET Portability Analyzer"
Microsoft released a new tool called [.NET Portability Analyzer](http://www.hanselman.com/blog/GettingReadyForTheFutureWithTheMicrosoftNETPortabilityAnalyzer.aspx) to help verify if written code is 100% portable.
I've briefly checked and some stuff, like Debug.WriteLine calls, are marked as errors.

[2015-01-10 08:25] #26 closed

[2015-01-19 16:41] VictorTerraGIS opened #30 "ShapefileDataReader - default character encoding"
I personally found that not all shapes files are well organized from point of view of the character encoding. Are so much different types of shape created by different tools and from different environments. In cases which I investigated I found that if no information about encoding then usually this is relayed to the environment where was created.

Some my examples shows that shape (dbf) files was

[2015-01-20 14:44] ValerioZ opened #31 "STRtree Remove issue."
Personally I found a problem removing element from STRtree.
With this simple code:

I've an "_{"Object reference not set to an instance of an object."}_" exception on this stacktrace:

I found a really boring issue too: meanwhie you are debugging the code, check the tree imply that the tree is built, hence you cannot insert or remove any item more.

[2015-01-21 08:23] FObermaier commented on #31
The "Remove" issue affects JTS also.
The STRtree is a STatic Rtree. So not being able to insert or remove items once the tree was built is a design decision made earlier.

[2015-01-21 11:42] airbreather commented on #31
I thought STR stood for Sort-Tile-Recursive, per the [algorithm](https://archive.org/details/nasa_techdoc_19970016975) it uses for packing?

[2015-01-21 13:50] FObermaier commented on #31
@airbreather is right, but I am too:
[code]
See this [link](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite/Index/Strtree/STRtree.cs).

[2015-01-22 08:13] DGuidi commented on #30
Something that I don't like from actual NTS code is that encoding is a setter property, at least in some classes, but it's also inferred from header, so the specified encoding can be in some cases changed during execution.
It's something that I wanna fix.

[2015-01-23 11:01] DGuidi commented on #31
@FObermaier issue can be closed?

[2015-01-23 11:23] FObermaier commented on #31
I'd leave it open until jts has [addressed](http://sourceforge.net/p/jts-topo-suite/mailman/message/33260512/) it.

[2015-01-23 11:39] DGuidi commented on #31
right move, so we can track also nts integration of jts changes related to this issue.

[2015-01-23 17:12] dr-jts commented on #31
JTS is now patched. Thanks for this bug report.

[2015-01-24 14:04] DGuidi commented on #30
opened a specified fork for this: https://github.com/DGuidi/NetTopologySuite

[2015-01-29 12:45] Mangepange opened #32 "GeoJSON Reader and Feature "id" attribute"
I'm using GeoServer, and the Feature objects retrieved from it's WFS contains an id member. This cannot be deserialized using the GeoJsonSerializer since it throws an ArgumentException when a property name is not "bbox", "geometry" or "properties".

It's valid GeoJSON according to http://geojsonlint.com/ and when reading the specs, the "id" should be allowed: http://geojson.org/geojson-spec.html#f

[2015-01-29 13:30] DGuidi commented on #32
Please be sure to test your json with source code, I'm sure to have fixed bug like this.
Anyway, I hope to check this issue soon.

[2015-01-29 13:52] Mangepange commented on #32
I've built the latest source code, and FeatureConverter throws an ArgumentException. It looks like FeatureCollectionConverter was fixed to adress a similar issue, 186 (https://github.com/NetTopologySuite/NetTopologySuite/commit/b4fce08a3da85741b49e728eabadd9bfb01a4779)

[2015-01-29 15:01] DGuidi commented on #32
ok thanks

[2015-01-30 07:59] Mangepange commented on #32
Using my example GeoJSON above you will get another ArgumentException in ICRSObjectConverter. The ReadJson method can't handle a crs which is null. Maybe an if-statement should be added at the top of that method checking if the TokenType is null.

[code]

[2015-01-30 13:41] DGuidi commented on #32
@Mangepange can you take a look?

[2015-02-02 09:33] FObermaier commented on #31
fixed with 75a0e69c1a8342e75552448c553414fe3148bd24

[2015-02-02 09:33] #31 closed

[2015-02-03 14:28] Mangepange commented on #32
Maybe FeatureConverter should ignore all additional members just like FeatureCollectionConverter do? Geoserver adds a "geometry_name" property on its Features as well...
[code]

[2015-02-03 14:35] DGuidi commented on #32
@Mangepange from the [specs](http://geojson.org/geojson-spec.html#geojson-objects): "The GeoJSON object may have any number of members (name/value pairs)."

So I think you're right

[2015-02-04 16:36] DGuidi commented on #32
tests are ok now

[2015-02-05 08:00] Mangepange commented on #32
@DGuidi Yes, it seems to work now with my GeoServer as well! Thanks!

[2015-02-05 09:44] DGuidi commented on #32
thanks to you for report and support

[2015-02-05 09:44] #32 closed

[2015-02-14 06:44] airbreather opened #33 "VWLineSimplifier Optimization"
Not exactly sure where I should be putting this, as I don't think it's worthy of a pull request just yet, but I've got a heavily optimized version of VWLineSimplifier that I'm tentatively calling "FastVWLineSimplifier".  The TODO caught my eye and I couldn't resist.

airbreather/NetTopologySuite@ee14fc978516541727de39c701389bc59f4130f5

That commit includes a test case that produces output similar

[2015-02-14 08:25] FObermaier commented on #33
Great! As we try to keep NTS in line with JTS I think we should inform @dr-jts about your improvement.

[2015-02-14 11:12] DGuidi commented on #33
wow, thanks :)
to me, we should already integrate code into NTS, maybe in an "experimental" namespace, and then, if and when @dr-jts integrates code into JTS, adapt NTS code to the JTS one.

[2015-02-14 11:13] DGuidi commented on #33
@airbreather feel free to open a pull request when you think code is stable enough

[2015-02-14 16:14] dr-jts commented on #33
Nice...

JTS already has a PriorityQueue:

http://sourceforge.net/p/jts-topo-suite/code/HEAD/tree/trunk/jts/java/src/com/vividsolutions/jts/util/PriorityQueue.java

Is that in NTS, and if so would it work for this?

[2015-02-16 12:02] airbreather commented on #33
@dr-jts: It [appears so](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite/Utilities/PriorityQueue.cs); the main thing I wanted to solve before making a proper pull request is to find the priority queue implementation that made the most sense to use.  This may be it.

[2015-02-17 06:51] FObermaier commented on #33
@airbreather, would you try to adopt your code to using the PriorityQueue in the NetTopologySuite.Utilities namespace?

[2015-02-17 11:39] airbreather commented on #33
@FObermaier yeah, working on it now.

[2015-02-17 12:22] airbreather commented on #33
The issue I've been running into is that the algorithm needs much more than either the "Original" or the "Alternative" implementation in PriorityQueue.cs provides: it needs to be able to update the priorities of the nodes that are already in the queue and have the queue deal with it.  I don't really see a way around that, because whenever we delete a point, we always need to update the areas of th

[2015-02-17 17:26] dr-jts commented on #33
Yeah, I was afraid of that... I think that's why I stopped short of using
PriorityQueue when I implemented VWS in the first place.

The right answer is to enhance PriorityQueue to support remove(), I
think.(I believe that's all that is strictly necessary, since nodes can
then be removed, have their priority updated, and then re-inserted?).  That
should be easy enough...

On Tue, Feb 17, 2015 at 4:

[2015-02-17 20:27] airbreather commented on #33
That seems like a reasonable approach... slower than what I have here, but still O(log n) per deletion, and doesn't pollute the repository with otherwise-unnecessary external code.  I'll try that when I get home, should be able to have it by the end of Wednesday (UTC-5) one way or another.

[2015-02-18 02:19] airbreather commented on #33
OK, airbreather/NetTopologySuite@3861c66 is my first take on it.  I don't see a way to keep it at O(n log n) without having something like PriorityQueueNode<T>.

Can anyone think of a reason I shouldn't go ahead with something like this?

[2015-02-18 18:03] FObermaier commented on #33
From what I understand reading the latest posts I gather that extending the existing PriorityQueue will not be as fast as your initial choice.

So I'm wondering if it wouldn't make more sense to replace the existing PriorityQueue with your initial version and have it implement/mimic the original public interface.

[2015-02-18 19:04] dr-jts commented on #33
Could you keep an internal hashmap containing the indexes of the items?
That way the same PriorityQueue interface can be maintained.

On Tue, Feb 17, 2015 at 6:19 PM, airbreather <notifications@github.com>
wrote:

[2015-02-18 20:22] DGuidi commented on #33
maybe @airbreather you can refactor current priorityqueue implementation in a way to abstract a common interface to apply to current code (with few changes) and to your implementation.
these changes then can be applied to JTS code as well.

[2015-02-18 20:28] dr-jts commented on #33
Or would it be efficient to not remove modified CoordinatesWithArea, but
mark them as dead and insert new one with the new area?  Dead coordinates
would be discarded if encountered while pulling from the Queue.

On Wed, Feb 18, 2015 at 11:04 AM, Martin Davis <mtnclimb@gmail.com> wrote:

[2015-02-21 13:55] airbreather commented on #33
The way I see it, there are several factors to consider.  The relative importance really determines what approach is best:

1. How much we really care about external code that uses PriorityQueue<T> (it's public, after all).
2. Impact on the internal NTS consumers of PriorityQueue<T>.  Currently, this is just STRtree-related types, but consider that STRtree is itself used in performance-sensitive c

[2015-02-21 14:44] airbreather commented on #33
In order:

@FObermaier, yes and no.  A heap-based priority queue is a heap-based priority queue.  This data structure is not (necessarily) optimized for efficient operations that aren't at the head of the queue.  But with a "pointer" (in this case, the index) to the item to remove / priority-update, we can leverage the same algorithms used to find the priority of an item that's being newly inserte

[2015-03-14 15:05] airbreather commented on #33
Going to close this now that there's a pull request.

[2015-03-14 15:05] #33 closed

[2015-03-19 17:34] DGuidi opened #35 "Update NTS master to latest JTS trunk"
To [r969](http://sourceforge.net/p/jts-topo-suite/code/969/) at time of this writings.

[2015-04-22 16:12] JeffAtDeere opened #36 "Can't write a shapefile with no features"
NTS 1.13.3.2 - I'm not sure if this is to spec or not but I am getting a NullReferenceException when writing a shape file with no features. If you uncomment the below line so that there is one feature, this works.

        public void NullReferenceWhenWriteingShapeFileWithNoFeatures()
        {
            var header = new DbaseFileHeader();
            header.AddColumn("X", 'C', 10, 0);

[2015-04-23 06:46] DGuidi commented on #36
this code looks ok with latest source code

[code]

no exception is thrown

[2015-04-23 06:46] #36 closed

[2015-04-23 14:26] JeffAtDeere commented on #36
When you say latest, what version do you mean? I am using 1.13.3.2 which is the latest in nuget.

[2015-04-23 16:48] DGuidi commented on #36
I mean source code, so maybe it's a bug fixed in latest versions.
Can you try to compile source code directly from github and verify?

[2015-04-27 23:34] airbreather commented on #36
I can confirm that the provided code does indeed throw NullReferenceException in the latest NuGet package (1.13.3.2), and it does not throw NullReferenceException in a build from the latest source.  Stepping through, it looks like c4cca6c is where the fix was ("bounds" was null in WriteShpHeader).

Tested on Windows 8.1, x64.

[2015-04-28 05:21] DGuidi commented on #36
Thanks for the verify

----- Messaggio originale -----
Da: "airbreather" <notifications@github.com>
Inviato: ‎28/‎04/‎2015 01:34
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>
Oggetto: Re: [NetTopologySuite] Can't write a shapefile with no features (#36)

I can confirm that the provided code does indeed throw NullReferenceExcep

[2015-04-28 11:56] JeffAtDeere commented on #36
:+1: Thank you for the verify. Given that this was fixed in December and the last patch release of NTS was in September, I hope there is a new version soon :)

[2015-04-30 13:58] hastebrot opened #37 "Assembly Reference to GeoAPI in Visual Studio Code"
Visual Studio Code [1] Version 0.1.0 seems unable to resolve references to the `GeoAPI` assembly.

Maybe there could be a `project.json` file with a DNX-project be provided as listed in [2].

[1] https://code.visualstudio.com/
[2] https://code.visualstudio.com/Docs/languages#_c35

[2015-05-02 17:20] DGuidi commented on #37
thanks for reporting this, maybe I'll take a look when VSCode is released as stable version.

[2015-05-02 17:20] #37 closed

[2015-05-26 07:10] sebasbaumh opened #38 "Use latest ProjNet4 version"
I was trying to create a coordinate system from a WKT string like that (in Resources as `CS_4362_WGS84`):

[code]

Using that code:
`ICoordinateSystem cs = new CoordinateSystemFactory().CreateFromWkt(Resources.CS_4362_WGS84);`

It fails with this error:

[code]

Then I used the latest version of ProjNet4GeoAPI @https://github.com/NetTopologySuite/ProjNet4GeoAPI and GeoAPI.
The result was no error

[2015-05-26 07:12] FObermaier commented on #38
We are preparing a new release ATM, so hold on for a couple of days. Thanks

[2015-05-26 07:29] FObermaier opened #39 "Need to update Portable Class Profile?"
Currently the GeoAPI/NTS/ProjNet stacks PCL projects are
* compiled with __.NETPortable,version=v4.0,profile=Profile147__
* packaged with __portable-net403+sl5+netcore45+wp8+MonoAndroid1+MonoTouch1__

Is this setting ok, or do we need to change that. Here is a list of what is currently possible:
http://embed.plnkr.co/03ck2dCtnJogBKHJ9EjY

[2015-05-26 08:51] pauldendulk commented on #39
BruTile uses Profile336 which includes Windows Phone 8.1.

Is it also an option to jump forward to a profile that includes .NET 4.5 and drop Silverlight and Windows Phone Silverlight. This add a lot of modern functionality. For NTS this may be to early.

[2015-06-11 05:27] cedricseah commented on #39
I would like to give a vote to using at least Profile328.
Reasons
1) This seems like the minimum target that users of Visual Studio 2013 can use, possibly solving mine and jcdekoning's issue.
I'm not sure what the minimum target will be for Visual Studio 2015 which is coming out in July. I'm installing 2015 RC now to check
2) I would like to be able to use GeoAPI, NTS, Proj.Net in a Universal Wind

[2015-06-25 13:15] FObermaier commented on #39
We'll be releasing a new version of GeoAPI/NTS with PCL assemblies targeting Profile 328.

[2015-06-25 13:26] DGuidi commented on #39
@FObermaier thanks felix, hope to be more helpful in next months

[2015-06-26 17:18] aarongundel opened #40 "Running into exception trying to load Oracle Spatial Object"
Right now I'm not sure what the root cause of this exception is; all I know is that I'm running into an exception when I attempt to access an Oracle Spatial Object.  I'm using devart's dotConnect as my EntityFramework connector.  If you have any ideas what might cause this exception to occur so I can address the right people, that would be awesome.  Note that I'm using NetTopologySuite 1.13.  I'm

[2015-06-29 06:47] DGuidi commented on #40
hard to say where's the problem.
try to make a simpler test calling NTS WKTReader.Read with oracle geometries (converted to wkt via SDO_UTIL package)

[2015-06-29 06:47] #40 closed

[2015-07-06 18:46] jasonpepper opened #41 "KdTree Matching Bug"
The kd-tree does not correctly find existing nodes. It ignores branches that may contain matches within the tree’s threshold.

To demonstrate this, create a kd-tree with a threshold of 1.0. Then add the following points (0.0, 0.0), (0.1, 1.0), and (-0.1, 1.0). The third point should be matched to the second point. However, the code ignores the right child of the root node and does not find the mat

[2015-07-12 17:32] DGuidi commented on #41
jts fixed this after your segnalation with [r990](http://sourceforge.net/p/jts-topo-suite/code/990) and [r991](http://sourceforge.net/p/jts-topo-suite/code/991)
hope to integrate soon newer code (see #35)

[2015-07-14 12:12] DGuidi opened #42 "app.config missing in PCL project"
I'm right @FObermaier ? https://goo.gl/7y2TUq
I mean, file is declared in csproj but looks missing in repository.

[2015-07-16 06:51] DGuidi commented on #42
@FObermaier can you take a look if now you experience problems building PCL assemblies?
now all "works on my machine"...

[2015-07-23 06:40] DGuidi commented on #42
hope all is ok now

[2015-07-23 06:40] #42 closed

[2015-08-05 10:10] jnicho02 opened #43 "NTS.IO.GeoJSON.nuspec limits Newtonsoft.Json to the major release number of latest release"
https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NTS.IO.GeoJSON.nuspec includes the line &lt;dependency id="Newtonsoft.Json" version="[6.0,7.0)" /&gt; ...which itself has a type on the array.

The latest version of Newtonsoft.Json is 7.0.1 so this package won't work with it. I assume that the author didn't intend to limit the upper version, could it be changed to &lt;dependency id=

[2015-08-05 21:00] DGuidi commented on #43
can be useful something like assembly redirect, in app.config?

[code]

[2015-08-06 06:29] FObermaier commented on #43
@DGuidi, @jnicho02:
In the process of preparing 1.13.4 release I have removed the upper version constraint.
May not be yet synced.

[2015-08-06 06:29] #43 closed

[2015-08-06 06:34] DGuidi commented on #43
@FObermaier ok well done.
BTW I've some troubles bullding PCS.Tests assembly in a clean PC (Win10 + VS2015 installation).
I'm investingating...

[2015-08-06 06:35] FObermaier commented on #43
@DGuidi qoute:"this is the new stuff, ..."

[2015-08-06 08:22] jnicho02 commented on #43
That's great, thank you. I'm impressed with your turnaround speed.

[2015-08-09 10:20] FObermaier commented on #39
We'll be releasing a new version of GeoAPI/NTS with PCL assemblies targeting Profile 336 in the next week.
For 328 we'd have to change some code that depended on portable-net403

[2015-08-09 10:20] #39 closed

[2015-08-10 09:54] jany-tenaj opened #44 "Replacing obsolete DoubleDouble functions by operators"
I replaced the obsolete DoubleDouble functions by operators. As I have no idea how to upload the changes I'll leave them here for someone to integrate.

**NetTopologySuite\Algorithm\CGAlgorithmsDD.cs**
 In **line 58** (inside public static int SignOfDet2x2(DoubleDouble x1, DoubleDouble y1, DoubleDouble x2, DoubleDouble y2))
replace
``` DoubleDouble det = x1.Multiply(y2).Subtract(y1.Multiply(x2));

[2015-08-10 12:39] FObermaier commented on #39
@cedricseah,  @jcdekoning:
Could you please test GeoAPI.1.7.4-pre2 and NetTopologySuite.1.13.4-pre3 packages
The PCL TargetProfile is set to 336.

[2015-08-11 00:31] cedricseah commented on #39
I am able to install GeoAPI 1.7.4-pre2 in a PCL project (targetting 336) using Nuget.
When I try to install NTS -Topology Suite 1.13.4-pre3, I get the following error message even though GeoAPI 1.7.4-pre2 is installed

Attempting to resolve dependency 'GeoAPI (≥ 1.7.4 && < 1.8)'.
Unable to resolve dependency 'GeoAPI (≥ 1.7.4 && < 1.8)'.

[2015-08-11 06:29] FObermaier commented on #39
I know that, I just don't know how to deal with prerelease packages in the nuspec version constraints. You can install it anyhow by adding the `-ignoredependency` flag.

[2015-08-11 12:04] DGuidi commented on #44
Why you marked old code as "obsolete"? I haven't checked all code you posted, but forst methods look the same as in [jts trunk](http://goo.gl/o6w34O).
BTW you can use [Pull Requests](https://help.github.com/articles/using-pull-requests/) to make changes to repository.

[2015-08-11 12:04] #44 closed

[2015-08-11 13:13] FObermaier commented on #44
@DGuidi
I have added operators on DoubleDouble (+, -, *, /) that are not in JTS. I don't know if there are operators in Java at all. When I did this, I marked the `Add`, `Subtract`, `Multiply` and `Divide` functions as `Obsolete`.

[2015-08-11 14:50] DGuidi commented on #44
Ok now it's clear.
Anyway, I'd love to have a Close match betwee  jts and nts code

----- Messaggio originale -----
Da: "Felix Obermaier" <notifications@github.com>
Inviato: ‎11/‎08/‎2015 15:13
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>
Oggetto: Re: [NetTopologySuite] Replacing obsolete DoubleDouble functions byoperators (#

[2015-08-12 06:41] FObermaier commented on #44
@DGuidi: It improves the readability a lot :)

[2015-08-12 15:26] DGuidi commented on #44
Actually, most of my nightmares with NTS debugging are related to operator overloads (==  != actually) 😃

----- Messaggio originale -----
Da: "Felix Obermaier" <notifications@github.com>
Inviato: ‎12/‎08/‎2015 08:41
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>
Oggetto: Re: [NetTopologySuite] Replacing obsolete DoubleDouble fu

[2015-08-14 21:01] FObermaier commented on #41
Here you go: b16134d08a5373a531276bce00df20de788e6a3f

[2015-08-15 08:13] #41 closed

[2015-08-17 09:24] FObermaier opened #45 "Polygonizer"
The newly added functionality to extract only polygons forming a valid polygonal geometry using the Polygonizer does not work.

See `NetTopologySuite.Tests.NUnit.Operation.Polygonize`
* `TestPolygonal1`
* `TestPolygonal2`

[2015-08-17 14:02] #45 closed

[2015-08-18 14:11] kjeremy opened #46 "KML Reader"
I see a KML writer and I THOUGHT there was a KML reader but it seems to have disappeared.  Did it ever exist or am I going crazy?

[2015-08-18 21:01] FObermaier commented on #46
There was only the writer.

[2015-08-18 21:03] #46 closed

[2015-08-19 09:15] DGuidi commented on #35
updated to jts r1040

[2015-08-26 12:49] RobertSmart opened #47 "GMLWriter output not valid??"
Hi, I'm trying to create a really simple GML file using NTS and it is failing to open in QGIS.

I'm using this code:

            var gmlOut = new NetTopologySuite.IO.GML2.GMLWriter();
            var stream = new FileStream(@"D:\temp\test.gml", FileMode.CreateNew);
            var geom = new NetTopologySuite.Geometries.Point(52, -0.9);
            gmlOut.Write(geom, stream);

and I get this outpu

[2015-08-27 12:03] DGuidi commented on #47
GMLWriter writes a GML "representation" of a Geometry: a GML fragment and not a complete GML document.

[2015-08-27 21:15] RobertSmart commented on #47
Hi, thanks for the feedback. I managed to use sharpkml to get a quick usable output, but it would be good to see an export to gml file option.

[2015-08-28 07:37] FObermaier commented on #47
If I got it right, the problem is the wrapping `<gml:GML></gml:GML>` tag that is created using the writer. At least JTS does not write that in its xml.

[2015-08-28 07:41] DGuidi commented on #47
Have you tried to read JTS GML output with QGIS?
I suspect you can obtain another error, jost becaus the GML fragment isn't a GML/XML valid document.
Anyway, remove gml namespace can be a valid strategy, at least to maintain JTS behavior.

[2015-08-28 07:48] FObermaier commented on #47
Having said that, I think the API should change and the `GMLWriter.Write` functions should take an XmlWriter as argument, thus knowing which namespaces have already been defined to not pollute the file with namespace declarations.

[2015-08-28 07:57] FObermaier commented on #47
As a comparison:
JTS:
[code]

NTS:
[code]

[2015-08-28 08:10] DGuidi commented on #47
I'm working on a pull request.
Actually, I don't remember the meaning of gml:GML tag, I remember that code was modified for MSSQLSpatial purposes...

[2015-08-28 08:45] DGuidi commented on #47
+1 for change the API

[2015-08-28 11:12] DGuidi commented on #47
@FObermaier @RobertSmart please check. Hope this fix the problem.

[2015-09-15 20:20] billpratt opened #51 "ShapefileDataReader creating PolygonZ instead of Polygon for XY Wkt"
We are using WktReader to create geometries from Wkt that are XY coordinates and using ShapefileDataWriter to create a shapefile with these geometries. When reading the shapefile in something like QGIS v2.10.1, the polygons are read as PolygonZ with a 'nan' Z coordinate. What we want is just a XY Polygon.

Here are the steps I used for debugging this

1) Convert Wkt to Geometry
[code]

Output:
Geo

[2015-09-15 20:22] billpratt commented on #51
Heres a screenshot of opening the shapefile in QGIS v2.10.1 and using the extension "getWkt" to view the WKT

![screen shot 2015-09-15 at 4 21 18 pm](https://cloud.githubusercontent.com/assets/2847527/9888949/e9656a2a-5bc5-11e5-9e8b-b853cca3561a.png)

[2015-09-15 20:34] Gonkers commented on #51
Basically it appears the issue we are having is when reading the WKT. The `public ICoordinateSequence Create(Coordinate[] coordinates)` in the default `CoordinateArraySequenceFactory` is statically set to create CoordinateSequences with 3 dimensions. In the mean time we have come up with a workaround to create our own ICoordinateSequenceFactory. I'm not sure this is the ideal solution and I was ho

[2015-09-16 05:37] DGuidi commented on #35
JTS is now at [r1050](http://sourceforge.net/p/jts-topo-suite/code/commit_browser), with some interesting stuff like GeoJson Reader/Writer

[2015-09-16 10:39] FObermaier commented on #35
NTS is at rev 1049. I left out GeoJSON reader writer since we have that already.
We can leave the issue open, though

[2015-09-16 12:27] FObermaier commented on #51
Could you please verify that 3c9f90b solves you issue and does not have any other drawbacks?

[2015-09-16 12:42] DGuidi commented on #35
+1

[2015-09-16 14:40] billpratt commented on #51
I tested and it is working as expected. Thanks! :+1:

[2015-09-16 14:42] billpratt commented on #51
Do you have a timeframe when this will be released to nuget?

[2015-09-17 15:21] urbanhop opened #52 "Why does a rectangle not overlap another rectangle inside it?"
The JTS docs say this about the Overlaps predicate:

"Overlaps: The Geometries share some but not all points in common, and the intersection has the same dimension as the Geometries themselves"

The 2 rectangles below share some points, the intersection is the smaller rectangle, so why on earth does JTS (and NTS) say that these 2 rectangles do NOT overlap?

NTS behaves like JTS.

![overlaps](https

[2015-09-17 15:28] DGuidi commented on #52
http://docs.geotools.org/stable/userguide/library/jts/relate.html#overlaps
_The geometries have some points in common; but not all points in common (so if one geometry is inside the other overlaps would be false)._

[2015-09-17 15:29] DGuidi commented on #52
please use [google group](https://groups.google.com/forum/#!forum/nettopologysuite) for questions like this one.

[2015-09-17 15:39] urbanhop commented on #52
"but not all", oh yesm thank you so much, very helpful.

[2015-09-17 15:39] #52 closed

[2015-09-18 20:26] urbanhop opened #53 "GeometryFactory.CreateGeometry does not process coordinates"
GeometryFactory.CreateGeometry(IGeometry g) doc says:
"This is a convenient way to **change the CoordinateSequence** used to represent a geometry, or to change the factory used for a geometry."

I tried this code:

var g = // some sample polygon
var gf = new GeometryFactory(new PrecisionModel(1000));
var gscaled = gf.CreateGeometry(g); // issue: does not process coordinates

gscaled has the Precis

[2015-09-21 07:09] FObermaier commented on #53
From the code documentation:
`Note that the factory constructor methods do <b>not</b> change the input coordinates in any way.
In particular, they are not rounded to the supplied <c>PrecisionModel</c>.
It is assumed that input Coordinates meet the given precision.`

[2015-09-21 07:09] #53 closed

[2015-09-22 03:06] bendetat opened #54 "NetTopologySuite.IO.GeoTools version"
Hi, I may be missing something but it looks like the current version of `NetTopologySuite.IO.GeoTools` on NuGet (<https://www.nuget.org/packages/NetTopologySuite.IO.GeoTools/>) - 1.13.2.0 - doesn't match the current version of the other packages - `NetTopologySuite` for instance is 1.13.3.2.

This means that an application that uses `NetTopologySuite.IO.GeoTools` can't be upgraded to the current v

[2015-09-25 10:23] DGuidi commented on #54
As far as I know, as I see buinding nuget packages with msbuild with command ```msbuild /t:nugetpack TeamCity.targets```, there isn't a GeoTools nuget package anymore.

[2015-09-25 10:26] DGuidi commented on #51
can I close this issue now?

[2015-09-25 10:27] DGuidi commented on #47
can I close this issue now?

[2015-09-25 10:28] DGuidi commented on #11
@airbreather sorry, are you working on this?

[2015-09-25 10:44] RobertSmart commented on #47
I haven't had time to check, but if matches the JTS implementation, then it should be fine to close now.

Thanks, Rob

[2015-09-25 11:38] #47 closed

[2015-09-25 12:13] airbreather commented on #11
@DGuidi no, not right now.

[2015-09-25 15:10] billpratt commented on #51
Yes. Thank you

[2015-09-25 15:14] #51 closed

[2015-09-26 00:28] bendetat commented on #54
What's the upgrade path for a project that currently uses the `NetTopologySuite.IO.GeoTools` package?

[2015-09-26 07:09] DGuidi commented on #54
[here](https://www.nuget.org/profiles/nettopologysuite%20-%20team) you can see NTS.IO plus specific libraries for different providers.

[2015-09-26 07:09] #54 closed

[2015-09-30 20:27] petlof opened #55 "Problem with create a new DBF-file with DBaseFileWriter"
When using DBaseFileWrite to create a new DBF-file with NTS 1.13.4 some problems have occured that did not exist in earlier versions of NTS.

One problem is that I'm not able at all to create a DBF-file at all since the ValidateDataPath is set to true and the file that I'm trying to create of course does not exist.

Is it something wrong here:
https://github.com/NetTopologySuite/NetTopologySuite/b

[2015-09-30 20:30] petlof opened #56 "WriteDummyDBF in WriteGeometryCollection Method"
Having some problems with my DBF-file is getting it's header overwritten when writing the collection of shapes to disk.
Found that it's actually a line in the WriteGeometryCollection-method that overwrites my DBF-file that I already have created.

I don't like this design since it's not clear for the one using NTS that the DBF-file needs to be written after the shape-file.
Shouldn't we add a check

[2015-09-30 20:31] petlof commented on #56
jaundice commented 3 minutes ago
I don't really like the dummy dbf writing, but it predates my changes and I didn't have time to restructure it.

[2015-09-30 20:33] petlof commented on #56
Ok, I don't know what we should do with it, but it feels that we at least should make sure we don't overwrite an existing dbf-file.
We could probably expose the HeaderWritten on the DBFFileHeader and skip the dummy-writing if the header have been written already. Is that an OK solution?

[2015-09-30 20:34] petlof commented on #55
Fixed in commit: https://github.com/NetTopologySuite/NetTopologySuite/commit/b86212f6d708ee8846ee29601c6d4aa57648eb39

[2015-09-30 20:34] #55 closed

[2015-09-30 20:34] jaundice commented on #56
Personally I think it should either write both shape and attribute data in the same method, or shape and dummy dbf, however other people may rely on the api as is.

[2015-09-30 20:39] petlof commented on #56
I talked to @FObermaier and we said we could a a method on shapefilewirter for WriteFeatures(IEnumerable<IFeature> features);

Then one would not need to handle the specific writers individually..
I will look into that more tomorrow..

This would also enable things like streaming big datasets to shapefile without having to store all rows in RAM

[2015-09-30 20:40] jaundice commented on #56
That is a far more elegant solution

[2015-10-02 06:22] petlof commented on #56
Suggestion on method for writing features as part of the ShapefileWriter class..

Does it look OK @jaundice @FObermaier ?, in that case I can commit it.
==
/// <summary>
        /// Write the enumeration of features to shapefile (shp + dbf)
        /// </summary>
        /// <param name="filename">Filename to create</param>
        /// <param name="features">Enumeration of features to write, featu

[2015-10-02 06:26] petlof commented on #56
Small change in DBaseFileWriter also that rewinds the _writer when header is written to be able to write it once we're done

[code]

[2015-10-02 08:37] jaundice commented on #56
Looks good to me Peter..

[2015-10-02 08:40] jaundice commented on #56
I haven’t looked at the wider code for this, but should we consider caching the position in the stream before we write the header and moving back to it after the header is written?

Small change in DBaseFileWriter also that rewinds the _writer when header is written to be able to write it once we're done

       /// <summary>

        /// </summary>

        /// <param name="header"></param>

[2015-10-02 08:41] petlof commented on #56
Sure, I can do that..

[2015-10-04 19:25] FObermaier commented on #56
@petlof, @jaundice:
I've submitted @petlof's code including @jaundice's suggestion to expose _headerWritten.
In WriteDummyDbf there was a call to _writer.Write(0x1A) (=> _writer.WriteEndOfDbf()). I've added that to WriteFeatures and modified the DbaseFileWriter.Write(DbaseHeader) function to reposition the stream accordingly.

Could you please verify.

[2015-10-05 12:41] FObermaier opened #57 "`DbaseFileWriter.Write(IList)` issues"
- it does not check if the number of columns provided does match the number of fields defined in the header
- it does not check if the number of bytes written matches the record length
- it does not check if all data types could be handled.

[2015-10-07 07:53] petlof commented on #56
Looks good!

[2015-10-07 09:31] jnicho02 opened #58 "GeoJsonSerializer cannot serialize properties that are objects"
given a geojson property that is an object then the serializer attempts to add the 'properties' attribute more than once.

I have a very quick fix and will submit a pull request with some accompanying tests

the following won't work....

[code]

[2015-10-07 10:17] DGuidi commented on #58
@jnicho02 which NTS version do you use? can you check using latest version from source code?

[2015-10-07 10:30] jnicho02 commented on #58
I'm using the current live major Nuget package 1.13.3.2

If I do a fork/pull request which branch should I base it on? master?

This is a fairly simple change, but i'd like to be able to contribute in the future

[2015-10-07 10:54] DGuidi commented on #58
Pleasw fork current master, check if bug persist and then fix+pull request

----- Messaggio originale -----
Da: "Jez Nicholson" <notifications@github.com>
Inviato: ‎07/‎10/‎2015 12:30
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>
Oggetto: Re: [NetTopologySuite] GeoJsonSerializer cannot serialize propertiesthat are objects (#58

[2015-10-07 12:09] DGuidi commented on #58
@jnicho02 I'm checking and problem persists also in master.

[2015-10-08 07:00] GHoven opened #60 "CoordinateArraySequence and Ordinate.M"
If CoordinateArraySequenceFactory.Create(int size, int dimension) (which is the Default factory) is used with dimension = 4, the returning CoordinateArray will claim it has Ordinates XY.

Reason is this peace of Code in NetTopologySuite.Geometries.Implementation.CoordinateArray.cs
[code]
I had this Problem, because customers data contains XYZM geometries with was read with GaiaGeoReader and he onl

[2015-10-08 07:17] DGuidi commented on #58
@jnicho02 can you please check?

[2015-10-08 07:33] FObermaier commented on #60
CoordinateArraySequence cannot store Ordinate.M values.
You will have to use a different `ICoordinateSequence` implementation.

You can either create your own or use either
- `PackedCoordinateArraySequence`
- `DotSpatialAffineCoordinateSequence`

If I'm not mistaken, there is also the choice of `ExtendedCoordinateArraySequence` somewhere in the samples projects.

To use these, you have to set `Geo

[2015-10-08 07:34] #60 closed

[2015-10-08 07:43] GHoven commented on #60
I know that there are more ICoordinateSequence in NTS. My suggestion aimed to add better functionality with CoordinateArray when used unaware with ZM values: Keep Z data in these cases.

[2015-10-08 08:12] jnicho02 commented on #58
it looks good to me. Thank you.

I've got another one....about reading array properties. Will raise an issue.

[2015-10-08 08:12] #58 closed

[2015-10-08 08:26] jnicho02 opened #61 "GeoJsonReader cannot read in an array property"
When you read in some geojson that has a property that is an array the GeoJsonReader throws System.ArgumentException : Expected token '}' not found.

The GeoJsonWriter *is* able to write out geojson with an array as a property.

[code]

[2015-10-08 16:10] jnicho02 commented on #61
Getting there. I see you are testing an array-array as well.

[2015-10-09 10:25] jnicho02 opened #62 "GeoJsonReader cannot deserialize a Feature with GeometryCollection"
This might be related to issue #61

A GeometryCollection on its own can be deserialized, but when it is part of a Feature it cannot.

[code]

[2015-10-12 08:07] FObermaier commented on #57
Fixed with ebda18a32f917cc569f4e84ed1a344faaff86da1

[2015-10-12 08:07] #57 closed

[2015-10-12 08:08] FObermaier commented on #56
Fixed with 69e8ddbc21c3efc381d05aa84b3b573638f88146

[2015-10-12 08:08] #56 closed

[2015-10-12 12:10] FObermaier commented on #61
Fixed with 06b19a34034d96b13c71488c3a56bd9daa223905

[2015-10-12 12:10] #61 closed

[2015-10-12 12:11] FObermaier commented on #62
Unrelated but fixed with 2e2839b13a37da5a6ede0e41110a35def1d05113

[2015-10-12 12:11] #62 closed

[2015-10-12 12:34] DGuidi commented on #62
@FObermaier thanks for the fix

[2015-10-12 12:35] DGuidi commented on #61
+1

[2015-10-12 13:42] jnicho02 commented on #62
Nice one. Thanks.

[2015-10-16 09:21] xivk opened #63 "Unable to install prerelease packages in .NET 4.5 project"
Steps to reproduce:

- Create a new Console project targeting .NET 4.5.
- Try to add NetTopologySuite using the prerelease options.

GeoAPI 1.7.4 cannot be found, there does exist a package for GeoAPI also a prelease packages but that doesn't seem to be sufficient. I think the requirments 'GeoAPI (≥ 1.7.4 && < 1.8)' are too strict. 1.7.4-pre3 < 1.7.4.

Maybe the prerelease packages should not have

[2015-10-16 09:22] xivk commented on #63
I need to update to the latest version beause there are several issues with writing shapefiles in the current release.

[2015-10-18 13:53] FObermaier commented on #63
You can update the packages anyhow by using flag `-ignoredependencies`
But you are right, we need to correct the version constraints.

[2015-10-20 10:53] jnicho02 opened #64 "geojson deserialization insists on decimal places in coordinates"
If points are specified without a decimal place then deserialization throws a

System.InvalidCastException: Specified cast is not valid.
Result StackTrace:
at NetTopologySuite.IO.Converters.GeometryConverter.PointCoords(List`1 list)
at NetTopologySuite.IO.Converters.GeometryConverter.ParseGeometry(JsonReader reader)

to test:

const string geojsonString = @"
{
  ""type"":""FeatureCollection"",
  "

[2015-10-20 12:03] jnicho02 commented on #64
if you are using WGS84 then it is pretty likely that you will have decimal places, but if you are using something like GB National Grid then a location will frequently have no decimal places e.g. "530507, 180542" http://gridreferencefinder.com/?gr=TQ3050780542%7CPoint_s_A%7C0&t=Point%2520A&v=r

[2015-10-20 12:34] FObermaier commented on #64
To me it is currently not clear why GeometryConverter has its own parsing of coordinates and does not rely on CoordinatesConverter class

[2015-10-20 20:09] DGuidi commented on #64
maybe code should  be refactored to use coordinates converter
Il 20/ott/2015 02:34 PM, "Felix Obermaier" <notifications@github.com> ha
scritto:

[2015-10-21 08:45] FObermaier commented on #64
It used to do that up to 36fafff8

[2015-10-21 08:53] DGuidi commented on #64
a merge for #6, am I right?

[2015-10-21 08:54] FObermaier commented on #64
Yes. I checked that in.

[2015-10-21 09:11] DGuidi commented on #64
@FObermaier no bad feelings.
I can check this issue, I hope soon.
Now we have more tests in GeoJSON stuff, so I hope to made a solution that fix this issue and doesn't broke standard behavior.

[2015-10-22 07:01] jnicho02 commented on #64
I'm working on a microservices platform at the moment. So there is a lot of
serialisation/deserialisation as the outputs of one service are consumed as
the input to another. If you want some more basic unit tests for the
geojson then I could probably provide some.
On Wed, 21 Oct 2015 at 10:11 Diego Guidi <notifications@github.com> wrote:

[2015-10-22 07:51] FObermaier commented on #64
So you are using the PCL version of GeoJSON? A unit test using the "normal" GeoJson project reveals no problems.

That would be great

[2015-10-23 08:47] xivk commented on #63
I'm prepared to submit a pull-request but how do you guys prefer to fix this? I'm not sure how to properly do this because the same nuspec files are used for release/prerelease.

[2015-10-23 09:20] FObermaier commented on #64
The current code does not lead to a failure.
Could it be that a679d009b847340c01104b996332be8d58f4f234 fixed your problem?

[2015-10-23 10:35] FObermaier commented on #63
I have no preference. Do you think nuspec files for prerelease versions/nightly builds are a good idea?

[2015-10-29 07:40] FObermaier opened #65 "Convert tag\... branches to real tags."
There is a pretty simple way to do that:
1. Clone the repository using GitHub-Desktop
2. Open a git shell and execute `git push origin origin/<branch_name>:refs/tags/<tag_name>` to make the branch a tag,
3. Execute `git push origin :refs/heads/<branch_name>` to delete the branch.

Be carefull with not to misspell!
I've taken this knowledge from http://stackoverflow.com/questions/6666489/is-there-a

[2015-10-30 09:32] #65 closed

[2015-11-04 14:28] DGuidi commented on #64
@jnicho02 any news about this? do you provide some failure tests?

[2015-11-04 16:31] jnicho02 commented on #64
Hello. I'll schedule in some time to do some tomorrow.

On Wed, 4 Nov 2015 at 14:28 Diego Guidi <notifications@github.com> wrote:

[2015-11-05 16:22] jnicho02 commented on #64
That test mentioned by @FObermaier does prove that this is now fixed.

I am adding some geojson read-write and write-read tests anyway

[2015-11-05 16:22] #64 closed

[2015-12-01 15:10] sweco-sedahd opened #67 "NetTopologySuite (1.14) installed with NuGet installs assemblies with a missing reference."
Tested with a new console app (.NET 4.5) and added NetTopologySuite and NetTopologySuite.IO
The and this test code to Main:
var factory = new GeometryFactory();
var shpReader = new ShapefileDataReader(@"testfile.shp", factory);
var shpType = shpReader.ShapeHeader.ShapeType;

Compiling the project gives the following error:
Error	1	The type 'NetTopologySuite.IO.Streams.IStreamProviderRegistry' is d

[2015-12-02 11:39] VictorVelarde commented on #67
Same issue for me... Any workaround?

[2015-12-02 11:52] sweco-sedahd commented on #67
I rebuilt all from GitHub source and use those binaries for now.
Because then I could add the missing DLL (NetTopologySuite.IO.dll).

[2015-12-02 11:56] VictorVelarde commented on #67
I'm trying right now to get it from "master", but I cannot compile it, due to several reference-problems in the solution. Any chance to get those binaries?

[2015-12-02 12:16] z954134 opened #68 "Have error in build for 2.0"
i build for net2.use  msbuild /t:buildrelease20 teamcity.targets .It's ok in old version.but have error now.
Microsoft(R) 生成引擎版本 4.0.30319.1
[Microsoft .NET Framework 版本 4.0.30319.1]
版权所有(C) Microsoft Corporation 2007。保留所有权利。

生成启动时间为 2015/12/2 20:12:46。
项目“D:\nts\NetTopologySuite\teamcity.targets”在节点 1 上(buildrelease20 个目标)。
BuildRelease20:
  正在移除目录“D:\nts\NetTopologySuite\obj\v2.0”。
项目“D:\nts\Ne

[2015-12-02 12:20] VictorVelarde commented on #67
Hi @FObermaier
Any plan to deploy the updated nuspec file' soon?

I'm in a hurry with a project and I would like to see my options. I need the v1.14 cause it solves some problems I've had with .geojson files (coming from qgis).

And thanks for your work in the library!. It is a must for our projects

[2015-12-02 12:24] VictorVelarde commented on #68
I'm getting also compilation errors from current master (net 4).
I guess some work is on progress...

[2015-12-02 12:40] sweco-sedahd commented on #67
To build it you also need to get PowerCollections and then I had to unload several projects that do not build, like all test proj and anything related to PCL. That’s I all I did to be able to build from source.

[2015-12-02 14:31] FObermaier commented on #67
I just pushed NetTopologySuite.IO.1.14.0.1 package.
Could you please see if that works?

[2015-12-02 14:58] sweco-sedahd commented on #67
Yes, it seems to work, I don't have time for a full test but my simple testprojekt now compiles and runs with your latest package version (1.14.0.1).
Thanks.

[2015-12-02 15:32] VictorVelarde commented on #67
*Great!* No compilation problems with the new package. Thank you Felix.

[2015-12-03 15:59] VictorVelarde opened #69 "GeoJsonReader.Read<FeatureCollection>(geojson) fails with certain order of properties"
NetTopologySuite.IO.GeoJSON v1.14.0.0

GeoJsonReader.Read throws System.ArgumentException: *Expected token 'type' not found* using this geojson (it shows ok in QGIS):

[code]

It seems it is the "geometry-first" what causes the issue, because it parses correctly this order ("type - properties - geometry"):

[code]

[2015-12-07 21:51] Depechie commented on #38
Current nuget version - still error "P is not recognized". Older version where we could add encoding to the Parse method works.
Any progress on this?

[2016-01-08 09:38] #67 closed

[2016-01-08 09:39] FObermaier commented on #69
Can this be closed?

[2016-01-08 12:42] VictorVelarde commented on #69
Yes Felix. Now I'm reading / writing .geojson files with NTS & QGIS with no problem. Thanks!

[2016-01-09 19:56] #69 closed

[2016-01-13 03:40] Walt-D-Cat commented on #15
Hey, Is there any working being done on this part?  Currently the tests all fail for me in the runtime with:

    Newtonsoft.Json.JsonWriterException : Token StartObject in state Object would result in an invalid JSON object. Path 'objects.data'.

Cheers,

:w

[2016-01-13 09:45] DGuidi commented on #15
all develop is stopped now, sorry.
any help would be appreciated.

[2016-01-13 13:56] Walt-D-Cat commented on #15
That's what i suspected looking at the activity logs.  I've not actually
contributed to an OS project before.  Any pointers?

I've forked nettopologysuite and got it mostly building the (the PCL
libraries are not liking me).

On Wed, Jan 13, 2016 at 4:45 AM, Diego Guidi <notifications@github.com>
wrote:

--
"Time is spatial"
[C. Stockdale and C. Possin (1998) Spatial Relations and Learning
<http:/

[2016-01-13 14:05] DGuidi commented on #15
TopoJSON reader/writer was a feature I'd like to add but it's incomplete now.
At least, in some form reader is working, but writer isn't implemented at all.
A way to start is to take a look at [specifications](https://github.com/mbostock/topojson-specification/blob/master/README.md) and try to made unit tests work as expected, in your fork.
then you can create a [pull request](https://help.github.

[2016-01-22 14:25] airbreather opened #73 "[Question / Discussion] PowerCollections in the Full .NET Framework"
In every case but `BigList<T>`, the full .NET Framework provides a direct built-in replacement for PowerCollections types used in NTS.  Some of them ([SortedDictionary&lt;TKey, TValue&gt;](https://msdn.microsoft.com/en-us/library/f7fta44c.aspx)) only require .NET 2.0+.  Others ([HashSet&lt;T&gt;](https://msdn.microsoft.com/en-us/library/bb359438.aspx)) require .NET 3.5+.

In one case, replacing th

[2016-01-22 15:01] DGuidi commented on #38
can we close this issue, right?

[2016-01-22 15:04] DGuidi commented on #73
I'm unable to retrieve some refs now, but some tim ago I've tried to replace PowerCollections with .NET BCL stuff and I seen that some tests are failing, due to a different internal behavior...

[2016-01-22 15:08] DGuidi commented on #73
ok found some refs:
1. [PowerCollections thread on GoogleGroups](https://groups.google.com/d/msg/nettopologysuite/rG5yMawWUQ4/qXDIIls2oesJ)
2. [Google Code Issue 154](https://code.google.com/p/nettopologysuite/issues/detail?id=154)

[2016-01-22 15:26] Depechie commented on #38
If the beta nuget is released as stable :)

[2016-01-23 00:18] airbreather commented on #73
@DGuidi: I see.  Do you have more information about what the "sorting issue" is with LineSequencer?

Running all the tests in classes named `LineSequencerTest` all pass after applying the obvious change.  I don't exactly know what I need to do to run the test in `LineSequencerFileTest`, or I would have run that too.

[2016-01-23 00:57] airbreather commented on #73
Ignoring what's needed to actually remove the reference to PowerCollections on targets that have both NET20 and NET35 defined, this is what I mean when I say the "obvious changes": airbreather/NetTopologySuite@f1fe570fee0874bdd29b7569c62ba7825285809f.

[2016-01-23 10:43] DGuidi commented on #73
Tried also with xml tests with console runner?
I'll try to check your fork as soon as possible.

[2016-01-23 11:22] DGuidi commented on #73
all tests looks ok, actually.

[2016-01-23 13:20] DGuidi commented on #73
sorry, maybe I'm a but confused, but your code uses standard BCL objects only for 2.0 code.
and SortedSet<T> it's [4.0+ only](https://msdn.microsoft.com/library/dd412070(v=vs.100).aspx) so your code won't actually compile.
Your LineSequencer code isn't modified, and I'm unable to made the changes you suggests.

[2016-01-23 14:22] airbreather commented on #73
Oh, crap, you're right.  `SortedSet<T>` is in fact 4.0+.  Looking into it again.

[2016-01-23 15:07] airbreather commented on #73
OK, airbreather/NetTopologySuite@02bb1e6 *should* fix that, but as before, I can't be 100% sure because as before, I clearly haven't actually compiled with .NET 2.0.

I think there should probably be some build configurations in the solution and projects for all the different supported platforms, so that I don't have to either guess, screw with the .csproj files, create a "dummy" PR just to get Tr

[2016-01-23 19:25] airbreather commented on #73
Running tests on other platforms was harder than it sounds.  Anyway, I get what you're talking about now.

On .NET 3.5, `NetTopologySuite.Tests.NUnit.Operation.LineMerge.LineSequencerTest.Test2SimpleLoops` is the only test that fails.  Reverting just the `BigList<T>` change in `DirectedEdgeStar` makes it pass.

.NET 3.5 `List<T>`:

    MULTILINESTRING ((0 10, 0 0), (0 0, 0 10), (0 0, 0 20), (0 20,

[2016-01-23 20:58] DGuidi commented on #73
Removing powercollections should be the preferable way, at least to avoid licensing issues, so thanks for your investigations!

----- Messaggio originale -----
Da: "airbreather" <notifications@github.com>
Inviato: ‎23/‎01/‎2016 20:25
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>
Oggetto: Re: [NetTopologySuite] [Question / Disc

[2016-01-25 11:20] airbreather commented on #73
Copied from the description of #75:

For the future, here are the things keeping .NET 2.0 and PCL from dropping it entirely:

We need a hash-based set type. It's possible to emulate HashSet<T> by wrapping a Dictionary<T, bool>. I didn't want to do this right away.
We need a way to do a stable-sort. One way to do it would be to add a utility method that wraps each element of an IEnumerable<T> in an

[2016-01-25 12:56] #73 closed

[2016-01-25 13:02] airbreather opened #77 "Consider Removing PowerCollections Dependency In .NET 2.0 and PCL"
This is a successor of #73, which identified what could be done with minimal rewrites in NTS and which resulted in #75.  Here are the things that are keeping the .NET 2.0 and PCL targets from dropping PowerCollections entirely:

1. (Both 2.0 and PCL) Need a hash-based set type.
    1. `HashSet<T>` can be emulated by wrapping a `Dictionary<T, bool>`.
2. (Both 2.0 and PCL) Need a way to do a stable-

[2016-01-25 14:13] FObermaier commented on #77
Here my suggestions/remarks

1. Possible solutions:
    1. Reference `System.Core` (works only for full .NET 20, not PCL)
    2. Use Mono's implementation of HashSet<T> internally. The license looks very permissive, the speed is comparable to the native one.
2. I'd go for ii. Sedgewick's Algorithm bible has some acceptable (stable) sorting algorithms, I'm sure. I'll look into adopting one for NTS.

[2016-01-25 14:15] FObermaier commented on #77
sorry for the noise

[2016-01-26 03:09] airbreather commented on #77
1. I'm not sure if the "reference `System.Core`" solution is appropriate.  Wouldn't that mean that the .NET 2.0 build will only run on systems that have .NET 3.5 installed anyway (which upgrades the .NET 2.0 CLR in-place)?  Mono `HashSet<T>` could work, but then again, wouldn't it make just as much sense to copy [the implementation from .NET Core](https://github.com/dotnet/corefx/blob/master/src/S

[2016-01-26 07:32] DGuidi commented on #77
As far as I know, .NET 3.5 it's _only_ new assemblies (i.e: LINQ), no new CLR (same as 2-0) stuff and no dll substitutions (like 4.5-4.6)

[2016-01-26 09:08] xivk commented on #77
Any reason to hold on to.NET 2.0 support? In OsmSharp I also used Mono's HashSet implementation at some point. It's not perfect but better than keeping powercollections in my opinion.

[2016-01-26 09:57] DGuidi commented on #77
+1 and this can "save" .NET 2.0 support, or I'm wrong?
I don't like to maintain powercollections __only__ to .NET 2.0 support. My2cents.

[2016-01-26 11:03] airbreather commented on #77
Hmm, well even so, my point is that if someone says "no, I can't use the .NET 3.5 release; I need the .NET 2.0 release", then wouldn't NTS need to distribute the .NET 3.5 version of System.Core.dll in order to actually serve those folks?

/

The PCL target also has no easy replacement for the 3 things listed in the issue description.  I'm mainly looking at the `OrderedDictionary<TKey, TValue>` iss

[2016-01-26 11:38] DGuidi commented on #77
This Library actually don't exists, I think. System.core.dll it's the same lib (binary dll) in 2.0 and 3.5.

----- Messaggio originale -----
Da: "airbreather" <notifications@github.com>
Inviato: ‎26/‎01/‎2016 12:03
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>
Oggetto: Re: [NetTopologySuite] Consider Removing PowerCollections

[2016-01-26 12:09] airbreather commented on #77
Can systems that have **only** .NET 2.0 installed, and **not** .NET 3.5, and **cannot** install 3.5, use `HashSet<T>`?  Win2000 comes to mind.

If [this SO answer](http://stackoverflow.com/a/687042/1083771) and its comments are to be trusted, it sounds like the "reference System.Core" solution would not work for things that use the .NET 2.0 build and cannot use the .NET 3.5 build instead.

[2016-01-26 12:24] DGuidi commented on #77
Ok maybe [I'm wrong](https://msdn.microsoft.com/en-us/library/bb359438(v=vs.90).aspx)
Probably I made some confusion with .NET versions and Core CRL versions... or, maybe, __system.core.dll__ exists only in .NET 3.5 and not in previous versions, as stated[here](http://blogs.msdn.com/b/pedram/archive/2007/11/07/system-core-dll-of-net-framework-3-5.aspx)?

[2016-01-27 09:15] FObermaier commented on #77
I agree we should go for a solution that is not only a fix for .NET 2.0.

I don't particulary care whether we take HashSet<T> from .NET core or from Mono, which ever way is easier, requires fewer additions to the codebase.

If we take HashSet<T> from either source, we might as well take SortedDictionary<TKey, TValue> from there.

Along with a stable sorting algorithm we have it all together, don't

[2016-01-27 09:16] FObermaier commented on #77
For the record, I don't use the .NET 2.0 version of NTS either but I'm reluctant to removing it completly.

[2016-01-27 10:18] DGuidi commented on #77
I agree with you, I think 2.0 support can be an added value

[2016-01-27 10:56] FObermaier commented on #77
I made an attempt to extract from .NET Core to have HashSet and SortedDictionary.
Could anyone take an attempt to bring that into NTS? Thanks
[Snipplets.zip](https://github.com/NetTopologySuite/NetTopologySuite/files/106438/Snipplets.zip)

[2016-01-27 13:16] DGuidi commented on #77
@FObermaier I've take a look: there is a replacement for a 2.0 StableSort? I've not found something similar in code you've posted

[2016-01-27 13:22] FObermaier commented on #77
No it is atm "just" HashSet and SortedDictionary

[2016-01-27 13:26] DGuidi commented on #77
@FObermaier ah ok, so SortedSet looks the only thing missing. your code looks ok.
Anyway, hope to push a branch so anyone can take a look.

[2016-01-27 13:34] FObermaier commented on #77
SortedSet is in the Zip file, too

[2016-01-27 13:48] DGuidi commented on #77
@FObermaier ops, my bad. comment fixed.

[2016-01-27 14:19] DGuidi commented on #77
Code posted as "snipplets" branch.
From the commit comment, here my thoughts:

Anyone feel free to fix things and add comments to branch.

P.S: : probably I've made some mistakes with submodules management, that looks not removed in branch... any help appreciated.

[2016-01-27 14:26] DGuidi commented on #77
ops, troubles with [TravisCI](https://travis-ci.org/NetTopologySuite/NetTopologySuite)

[2016-01-29 03:23] stgeorges opened #78 "NetTopology .NET assemblies?"
Hello,
By checking the NetTopologySuite repository, there's a large amount of c# file present.
I was wondering if a single (or a couple of those) NetTopologySuite .NET assembly (.dll) exists?
I am interested in using it/them to call NetTopologySuite function in ironpython.

Thank you for the reply.

[2016-01-29 06:44] FObermaier commented on #78
You can install NetTopologySuite by using the binaries provided by [NuGet](https://www.nuget.org/packages/NetTopologySuite/)

[2016-01-29 06:44] #78 closed

[2016-01-29 09:56] DGuidi commented on #77
@FObermaier any idea about this?

[2016-01-29 10:23] stgeorges commented on #78
Thank you @FObermaier ,
I have only found the [Nuget Package .nupkg file](https://www.nuget.org/api/v2/package/NetTopologySuite/1.14.0).
Is it possible to download the binaries directly (or in a .zip file) for users who do not have Visual Studio/Express?

[2016-01-29 11:41] FObermaier commented on #77
I updated that branch.
No need to reference the `System.Core.Replacements` or `System.Core.Replacements.Pcl` libraries,
as I did a conditional include (`&lt;IncludeItems condition= " '$(TargetFrameworkVersion)' == 'v2.0' "&gt;`) of the files in the project for .NET 2.0 and an unconditional one for the PCL project.

I'm unhappy with the namespaces for the framework replacements. Shouldn't we indica

[2016-01-29 11:45] FObermaier commented on #78
Those are basically zip files that adhere to some internal directory layout.

[2016-01-29 12:33] stgeorges commented on #78
Thank you @FObermaier .
Is there a C# example code on how .shp files' fields, values and feature points can be read from it, and printed to a console?
I've seen the official [API section](http://nettopologysuite.github.io/html/namespace_net_topology_suite.html), but did not understand which functions to use in order to achieve the opening of .shp file, along with printing its features, values..

[2016-01-29 13:18] airbreather commented on #77
And I submitted a PR for that branch (#79) which tops it off with a stable sort.

[2016-01-29 13:34] DGuidi commented on #77
That was I did at first, but then I thinked that using same namespaces could avoid __using__ and macros.
Thanks to you and @airbreather for the revision.

[2016-01-29 13:36] DGuidi commented on #78
@stgeorges please post support questions in the [google group](http://code.google.com/p/nettopologysuite/), where you can find also some samples.

[2016-01-29 14:09] stgeorges commented on #78
Hi @DGuidi ,
When I follow the [google group](http://code.google.com/p/nettopologysuite/) link, it takes me to this github repository:

nettopologysuite has Moved!

[2016-01-29 14:17] DGuidi commented on #78
@stgeorges sorry, posted wrong link to past code repository. my bad.
here the [Google Group](https://groups.google.com/forum/#!forum/nettopologysuite) link.

[2016-01-31 16:29] airbreather commented on #77
#80 deals with the remaining things I found during my own (informal) review of the branch that I could fix easily by myself.

Questions I still have:

1. Were the following four additional lines needed? [change1](https://github.com/NetTopologySuite/NetTopologySuite/commit/7ddffcf0ccb4bd6f85146491cd7a77c844aede84#diff-e28c61f7e411ff39aceb635509b5907fR630), [change2](https://github.com/NetTopologySu

[2016-02-01 13:35] DGuidi commented on #77
@airbreather
1. I don't know, hope @FObermaier can help
2. yep
3. probably not

[2016-02-01 13:46] FObermaier commented on #77
1. no they are not needed. They are added atomagically whenever I open the solution. I think it has to do with NuGet package restore option. Don't you see this behavior?
3. no need for separate projects.

[2016-02-01 15:19] FObermaier opened #81 "Remove MSBuild based NuGet package restore"
The method of restoring NuGet packages for build has changed for NuGet version 2.7+
https://docs.nuget.org/consume/package-restore/msbuild-integrated

The new approach is described in this document:
https://docs.nuget.org/Consume/Package-Restore

[2016-02-01 16:49] DGuidi commented on #81
@FObermaier  fix was added to __RevSnipplets__ branch. do you plan to merge also this change after integration?

[2016-02-01 19:18] FObermaier commented on #81
I think this branch is close to being merged

[2016-02-02 07:58] DGuidi commented on #77
branch __revsnipplets__ merged, hope I' haven't made any mistake

[2016-02-02 07:59] #77 closed

[2016-02-02 08:37] FObermaier commented on #81
Fixed with 213696b0577621a238855a05591af36187e1e848

[2016-02-02 08:37] #81 closed

[2016-02-02 09:16] FObermaier commented on #68
Is this still an issue. I am not able to reproduce it.

[2016-02-02 09:16] FObermaier commented on #63
@xivk: Is this still an issue?

[2016-02-02 09:53] xivk commented on #63
No not anymore sorry... closing... As long as this doesn't happen in the actual release packages then there's no real problem.

[2016-02-02 09:53] #63 closed

[2016-02-04 09:30] atlefren opened #83 "Add support for writing GeoJSON feature ID"
Ref the GeoJSON spec on Features: http://geojson.org/geojson-spec.html#feature-objects

    If a feature has a commonly used identifier, that identifier should be included as a member of the   feature object with the name "id".

This means that a valid GeoJSON feature response should support features on the form

    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "

[2016-02-04 10:21] FObermaier commented on #83
Checking for `Feature.Attributes["id"]` is not sufficient? This could reduce the effort to special handling in the Feature- and AttributeTableConverter's WriteJson overloads.
The ID could then be gathered by e.g. an extension method:

[code]

[2016-02-04 12:13] atlefren commented on #83
@FObermaier Good idea, that means that it's a much smaller patch, and it captures the essence of the spec, so I cannot see why this shouldn't work.

I'd be happy to use this approach if it's included!

[2016-02-05 09:43] FObermaier commented on #83
@atlefren:
Could you please verify that the provided fix suits your needs and if so, close the issue?
Thanks

[2016-02-05 18:31] xivk opened #84 "FeatureCollection does not implement IEnumerable<>"
FeatureCollection does not implement IEnumerable<>. Is this something we should do or not?

[2016-02-05 18:32] xivk commented on #84
Hmmm, sorry, I guess the idea is to use the Features property. Sorry about that...

[2016-02-05 18:32] #84 closed

[2016-02-08 09:58] atlefren commented on #83
@FObermaier This looks great! Thanks for quick follow-up and solution!

[2016-02-08 09:58] #83 closed

[2016-02-10 09:53] #68 closed

[2016-02-15 19:15] xivk opened #86 "Incorrect version of Newtonsoft.Json is installed"
Incorrect version of Newtonsoft.Json is installed when installing the GeoJSON io package. Updating the package fixes the problem but we should fix this in the nuspec or whatever.

_Severity	Code	Description	Project	File	Line	Suppression State
Error		Assembly 'NetTopologySuite.IO.GeoJSON' with identity 'NetTopologySuite.IO.GeoJSON, Version=1.14.0.0, Culture=neutral, PublicKeyToken=f580a05016ebada1'

[2016-02-16 13:55] FObermaier commented on #86
The nuspec file for `NetTopologySuite.IO.GeoJSON` does not specify a specifc version of Newtonsoft.Json.
https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NTS.IO.GeoJSON.nuspec

Does any other component of your software require Newtonsoft.Json so this version was already installed?

[2016-02-16 14:00] xivk commented on #86
No, I don't use it anywhere else. I'll try to confirm the issue using an empty project.

[2016-02-24 16:00] moethu opened #87 "Polygonizer IndexOutofBounds"
Hi there,

I get an IndexOutofBounds Exception adding lines to the Polygonizer in C#.
[code]
All the input geometry (Linestrings) are looking fine. The exception is not always thrown, sometimes it works perfectly. I wasn't able to determine whats causing the issue, it doesn't seem to be the amount of lines. I there any way I could fix this? Am I doing something wrong initializing the Polygonizer?

[2016-02-24 16:12] DGuidi commented on #87
can you post WKT string of "voronoilines" object? so we can build a testcase

[2016-02-24 16:57] moethu commented on #87
LINESTRING (564 564, 0 0)
LINESTRING (596 2427, 0 3024)
LINESTRING (522 605, 274 1245)
LINESTRING (275 1475, 275 1716)
LINESTRING (275 1716, 596 2427)
LINESTRING (274 1245, 275 1475)
LINESTRING (522 1242, 274 1245)
LINESTRING (642 1716, 275 1716)
LINESTRING (640 1476, 275 1475)
LINESTRING (641 1272, 522 1242)
LINESTRING (641 1272, 640 1476)
LINESTRING (640 1476, 642 1716)
LINESTRING (645 1718, 647

[2016-02-25 05:42] SharavananEswar opened #88 "Incorrect looping in NetTopologySuite.IO.Converters.GeometryConverter"
I have found one issue while parsing IGeometry data by NetTopologySuite.IO.Converters.GeometryConverter. We are using JSON.NET for serialize and de-serialize our own feature collection. Our feature model class looks like,
    public class Feature
    {
        public Guid Id { get; set; }
        public string Type { get { return "Feature"; } }
        public IGeometry Geometry { get; set; }

[2016-02-25 07:51] DGuidi commented on #88
can you post a GeoJSON sample with "null" geometry?

[2016-02-25 09:09] SharavananEswar commented on #88
{
      "id": "00000000-0000-0000-0000-000000000000",
      "type": "Feature",
      "geometry": null,
      "properties": {
        "yesNo 1": false,
        "date 1": "2016-02-16T00:00:00"
      },
      "metadata": {
        "collection_userinfo": "()",
        "collection_timestamp": "2016-02-25T14:38:01.9087672",
        "collection_todoid": "",
        "collection_templateid": "nj7Glv-AqV0",

[2016-02-25 10:02] DGuidi commented on #88
looks that GeoJSON specs allow [null geometry[(http://geojson.org/geojson-spec.html#feature-objects)

[2016-02-25 10:12] SharavananEswar commented on #88
Yes you are correct. As per spec we have a null.

The issue is when geometry is null,

private IGeometry ParseGeometry(JsonReader reader)

        {

            GeoJsonObjectType? geometryType = null;

            List<object> coords = null;

            if (reader.Value == null)

                return null;

            while (reader.Read())

            {

                //This loop reads all

[2016-02-25 10:15] SharavananEswar commented on #88
Continuation to previous mail,

The issue is when geometry is null,

private IGeometry ParseGeometry(JsonReader reader)

        {

            GeoJsonObjectType? geometryType = null;

            List<object> coords = null;

            while (reader.Read())

            {

                //This loop reads all json object

}
}

so, we have to check value before while loop,

if (reader.TokenType

[2016-02-25 13:37] DGuidi commented on #88
code works well if you omut "metadata" stuff. so bug looks not related to null geometry, but instead to unexpected properties

[2016-02-25 14:41] FObermaier commented on #87
You have at least one Linestring that has repeated points, thus it is basically a point:
```LINESTRING (640 1476, 640 1476)```
Take care of that and you should be set:
[code]

[2016-02-25 14:41] #87 closed

[2016-02-25 15:13] DGuidi commented on #88
@FObermaier can I push a fix? or are you working on it, too? :)

[2016-02-25 15:20] DGuidi commented on #88
@SharavananEswar can you check?

[2016-02-25 15:22] SharavananEswar commented on #88
Please push your changes. After that I will delete the temporary fix in my
code.

Thanks,
Sharavanan
On Feb 25, 2016 8:43 PM, "Diego Guidi" <notifications@github.com> wrote:

[2016-02-25 15:59] SharavananEswar commented on #88
Please don't push these changes to master branch.

The mentioned Feature model followed in our product. Properties  and Metadata objects are specific to us and Don't add it in your Feature model until we get requirement for this.

I will clearly record my situation in video format and send it you.

Thanks,
Sharavanan

[2016-02-25 16:33] moethu commented on #87
Thanks, built in a filter for that.

[2016-02-25 16:40] DGuidi commented on #88
"properties" are simply attributes, mapped to Feature.Attributes.
Other stuff, like "metadata" is simply ignored.

This email has been sent from a virus-free computer protected by Avast.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DDB4FAA8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Diego Guidi

On Thu, Feb 25, 2016 at 4:59 PM, Sh

[2016-02-26 07:57] DGuidi commented on #88
looks ok to me

[2016-02-26 07:57] #88 closed

[2016-02-26 09:11] FObermaier opened #89 "Clarify coding conventions"
I think we should agree on some coding conventions as some commits are blown up with a change in e.g. variable declarations:
```var geom = geomFactory.CreatePoint(...);```
is changed to
```IGeometry geom = geomFactory.CreatePoint(...);```
or vice versa. This makes it difficult to track the essential change.

Also, sometimes namespace declarations get moved from the header of the file to just below

[2016-02-26 09:19] DGuidi commented on #89
To me, automatic reformatting is the key to share same stile.
Hope to create a StyleSettings file soon.

[2016-02-28 14:37] DGuidi commented on #89
@FObermaier added a stile to share with all developers, try to take a look and modify as you wish.
personally, I don't like "var" sintax, but I haven't found a way to force "explicit" declaration.
anyway: choosing a set of rules and [using this file](http://stackoverflow.com/a/14896788) can help us: I think that a codebase with the same style is a great added value.
As usual, feel free to add your

[2016-02-28 16:34] airbreather commented on #89
@DGuidi how would someone running just Visual Studio 2015 Community Edition, or MonoDevelop (i.e., no ReSharper) ensure compliance with this?

[2016-02-28 16:51] DGuidi commented on #89
No way, actually. Actually, JetBrains offer free licenses for oss contributors. I've asked but no response at this time.
I see many oss projects use this system, but if you know other tools that can help with this, feel free to suggest.

----- Messaggio originale -----
Da: "airbreather" <notifications@github.com>
Inviato: ‎28/‎02/‎2016 17:34
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite

[2016-02-28 23:12] FObermaier commented on #89
@DGuidi, I'm an absolute fan of `var` declarations :).
Nonetheless, I go with whatever you say. @airbreather is right though, can't this be done with stylecop?

[2016-02-29 07:43] DGuidi commented on #89
@FObermaier stylecop suggests things, while R# applies styles directly via code cleanup, as far as I know.

[2016-03-01 17:19] gprieck opened #91 "Stream Support for ShapefileDataReader using IStreamProviderRegistry"
This is my first post, hoping to start contributing to this project.
I would like support reading Streams.  The current options are from file and from cloud storage.

I created two classes that I think would support this.  I have attached the source.
public class MemoryStreamProvider : IStreamProvider
public class ShapefileMemoryStreamProviderRegistry : IStreamProviderRegistry

[MemoryStreamProvid

[2016-03-01 18:58] gprieck commented on #91
I changed how MemoryStreamProvider was storing the Stream in the constructor and returning the Stream in OpenRead method.  That eliminated the dispose issue.  I have not looked into yet, but probably not quite right for the OpenWrite method.  Revised files are attached.

[MemoryStreamProvider2.txt](https://github.com/NetTopologySuite/NetTopologySuite/files/153399/MemoryStreamProvider2.txt)
[Shapef

[2016-03-02 10:53] jnicho02 opened #92 "GeoJsonReader cannot read array of int arrays property"
Hi,

My team wish to deserialize/serialize arrays of arrays in geojson properties. From my tests it would appear that an array of json-object-arrays is okay, but an array of primitive-arrays isn't.

Regards,
              Jez

WhenArrayOfIntArraysPropertyInGeoJsonThenReadable fails with:
System.ArgumentException: Expected a property name.
Result StackTrace:
at NetTopologySuite.IO.Converters.Featur

[2016-03-02 11:07] jnicho02 opened #93 "GeoJsonReader cannot read an empty array property"
Whilst I was testing I noticed that GeoJsonReader doesn't like empty array properties.

[code]

[2016-03-02 11:15] jnicho02 commented on #92
Sorry, update on that, it doesn't really like arrays of primitives, let alone arrays-of-arrays.
[code]
gives me a System.ArgumentException: Expected token '{' not found.
Result StackTrace:
at NetTopologySuite.IO.Converters.AttributesTableConverter.InternalReadJson(JsonReader reader, JsonSerializer serializer)

[2016-03-03 19:54] FObermaier commented on #92
I have committed a fix for this and #93. Could you please verify that it works for you, too?
Btw, the json in `WhenArrayOfIntArraysPropertyInGeoJsonThenReadable` is not correct. It is not a `FeatureCollection` and there is a closing curly bracket too many.

[2016-03-03 21:14] FObermaier commented on #91
@jaundice, could you please have a look at this.

[2016-03-03 21:21] jaundice commented on #91
Will do.. May take a few days before I can though

@jaundice<https://github.com/jaundice>, could you please have a look at this.

-
Reply to this email directly or view it on GitHub<https://github.com/NetTopologySuite/NetTopologySuite/issues/91#issuecomment-191967019>.

[2016-03-03 21:35] gprieck commented on #91
I made a few more changes and attached my files.  I switched it back to a Stream instead of a MemoryStream.  Thanks for looking into.
George

[MemoryStreamProvider.txt](https://github.com/NetTopologySuite/NetTopologySuite/files/157720/MemoryStreamProvider.txt)

[ShapefileMemoryStreamProviderRegistry.txt](https://github.com/NetTopologySuite/NetTopologySuite/files/157721/ShapefileMemoryStreamProvide

[2016-03-03 21:41] jaundice commented on #91
@george any chance you can fork the repo and add your changes there?

I made a few more changes and attached my files. I switched it back to a Stream instead of a MemoryStream. Thanks for looking into.
George

MemoryStreamProvider.txt<https://github.com/NetTopologySuite/NetTopologySuite/files/157720/MemoryStreamProvider.txt>

ShapefileMemoryStreamProviderRegistry.txt<https://github.com/NetTopology

[2016-03-03 23:07] george commented on #91
I think @jaundice meant to mention @gprieck on that last comment. Cheers.

[2016-03-04 01:32] gprieck commented on #91
Ok, I forked the master, uploaded my two source files, and created a Pull Request.  I have been reading and trying to follow the documentation, but please let me know if I am doing anything wrong

[2016-03-04 09:27] jnicho02 commented on #92
dang, sorry about the test. I must have done a last minute edit and messed it up.

Is it in a branch? (I can probably find it myself...)

[2016-03-04 09:41] jnicho02 commented on #92
Okay. I see them in https://github.com/NetTopologySuite/NetTopologySuite/commit/4e286fba0b7c4b8383a73fc739ab843a1d394a3f

[2016-03-04 10:53] jnicho02 commented on #92
Well, I can see my tests in GitHubIssues.cs and they all pass, so happy days :) Thank you for fixing so quickly.

The big question is when do you have a NuGet package release planned? I quite understand that you can't go releasing every time the tiniest change is made. It would be painful to build from source and host it on nuget server because we don't want to be out-of-synch with the major versi

[2016-03-04 11:17] jaundice commented on #91
@george sorry about that :)

@gprieck I have had a quick look, I will take a longer look soon. Initial impression is that it should work for a readonly provider, writable is much harder.
A couple of thoughts:
I am not sure you should dispose the stream that was passed in as a constructor argument in the dispose method, I would leave that up to calling code to manage that stream.

In the ReadFully

[2016-03-04 11:32] FObermaier commented on #92
I might be able to update just the GeoJSON package. If so, I'll see if I can do that over the weekend

[2016-03-04 11:32] #92 closed

[2016-03-04 11:33] #93 closed

[2016-03-07 14:23] gprieck commented on #91
I would like it to have the ability to write to Streams as well.  My use case is read the three shapefile streams (shp, shx, and dbf), convert to a List of IFeature objects, perform some interpolation on the List of IFeature objects, and then save them back to the shapefile streams.  So, what I have now supports the reading, but not the writing.  My initial version (See MemoryStreamProvider .txt i

[2016-03-07 15:49] jaundice commented on #91
@gprieck you could wrap the streams in another non disposing stream (e.g create a new subclass of Steam and forward all props and methods to the MemoryStream except Dispose), however you may still have issues where there are multiple readers open and only one "real" stream.
Ultimately I think it will only really work reliably for writing if you use the byte[] buffer and provide new streams backed

[2016-03-08 19:46] gprieck commented on #91
I added two new classes to the fork based on everyone's comments.

ByteStreamProvider
ShapefileByteStreamProviderRegistry

George

[2016-03-10 15:08] ssram1603 commented on #69
Hi,

Though this bug was closed, the latest "NetTopologySuite.IO.GeoJSON 1.14.0.0" nuget package is still throwing the same exception as mentioned by **VictorVelarde**.

Could anyone please let me know the latest nuget package having this functionality?

Thanks
Sivaram K

[2016-03-11 13:34] ssram1603 opened #94 "Most of the NTS Nuget packages are out of date"
Hi,

First of all I would like to thank you for such an amazing and useful library. But here are some things which I feel could be more useful.

I could see that most of the NTS Nuget packages are out of date because of which every time we have to pull the updated source from here and build. I understand that it won't be appropriate to publish package for each and every change but it's very compli

[2016-03-11 14:26] ssram1603 opened #95 "GeoJsonReader is not working with GeoJson FeatureCollection having a "bbox" property"
Hi,

I'm getting the below exception while trying to read a "GeoJson FeatureCollection" using the GeoJsonReader.

Here is my input GeoJson

`{
   "type":"FeatureCollection",
   "features":[
      {
         "geometry":{
            "type":"Point",
            "coordinates":[
               -6.091861724853516,
               4.991835117340088
            ]
         },
         "type":"Feature",

[2016-03-14 10:21] ssram1603 commented on #95
Thanks for the quick fix. I could be able to convert with out any exception. I have seen the below comment from the FeatureConverter.cs

                        // Read, but can't do anything with it, assigning Envelopes is impossible without reflection
                        Envelope bbox = serializer.Deserialize<Envelope>(reader);
                        //Debug.WriteLine("BBOX: {0}", bbox.ToSt

[2016-03-14 12:05] DGuidi commented on #95
NTS Feature doesn't have a `Envelope` property, but you can call `Geometry.Envelope`, so you strickly don't need to read JSON 'envelope', because NTS geometries can't use any information taken from it.
Maybe GeoJson serializer should serialize a NTS object to JSON adding (always?) an 'envelope' property: this can be helpful for external consumers.
My2Cents.

[2016-03-14 12:34] FObermaier commented on #95
@DGuidi:
I'm looking into adding `BoundingBox` to both `Feature` and `FeatureCollection`. Those are assigned when present in the geojson definition, otherwise not.
`Feature` will have a static property that controls whether `BoundingBox` is computed upon access when not explicitly set.

[2016-03-14 13:02] DGuidi commented on #95
@FObermaier ok.
Only a suggestion: why not a readonly property `IFeature.Envelope` that returns  `Geometry.Envelope` or `Envelope.Empty`?  Do we really need to store envelope from a json?
I'm not concerned about performances, but for data-consistency.
Anyway, feel free to change code as you wish.

[2016-03-14 22:09] airbreather opened #96 "WKBWriter.WriteHeader: Missing Case for LinearRing"
[This block](https://github.com/NetTopologySuite/NetTopologySuite/blob/c1a1d4654aeba89ba7ce6c5678de006db3751aee/NetTopologySuite/IO/WKBWriter.cs#L118-L141) is missing a case for "[LinearRing](https://github.com/NetTopologySuite/NetTopologySuite/blob/c1a1d4654aeba89ba7ce6c5678de006db3751aee/NetTopologySuite/Geometries/LinearRing.cs#L89)", which causes WKBWriter to fail to write out a LinearRing geo

[2016-03-15 23:16] jaundice commented on #91
Sorry it has taken a while to get back to this @gprieck. Attached is a patch which should add a new project with a refactored set of ByteStream related classes. Unfortunately I haven't had a chance to write any tests for it. I'll try and schedule some time soon. Let me know if it works for you.

[0001-Refactored-ByteStream-related-classes.patch.txt](https://github.com/NetTopologySuite/NetTopologyS

[2016-03-16 03:20] gprieck commented on #91
I left a comment 7 days ago that I uploaded two new files to this pull request.
https://github.com/gprieck/NetTopologySuite/pull/1

ByteStreamProvider
ShapefileByteStreamProviderRegistry

Your patch is the first two files I uploaded 14 days ago (MemoryStreamProvider and
ShapefileMemoryStreamProviderRegistry).  Could you take a look at the two files I uploaded 7 days ago.  I think they correctly ha

[2016-03-16 07:37] jaundice commented on #91
My patch removes the initial MemoryStreamProvider and adds a refactored ByteStreamProvider.

[2016-03-21 20:56] ikolev21 opened #97 "Defect in KdTree.NearestNeighbor"
Hello,

First of all, congratulations and best wishes for the great project.

I made some tests and found that `KdTree.NearestNeighbor` is not working correctly. I debugged the code, found the problem and fixed it, and also modified the algorithm a little to improve its performance.

Here's the unit test that I added to `KdTreeTest.cs`

        [Test]
        public void TestNearestNeighbor2()

[2016-03-22 12:46] DGuidi commented on #97
@ikolev21 can you create a [pull request](https://help.github.com/articles/using-pull-requests/) with your changes? So we can check modifies and compare with jts code.

[2016-03-22 13:20] DGuidi opened #98 "GeoJson error when writing nested objects"
A test built for #58 - [geojson_should_serialize_nested_objects](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite.Samples.Console/Tests/Github/Issue58Fixture.cs#L11) - fails. Maybe a regression introduced with latest commits?

[2016-03-22 13:27] DGuidi commented on #96
@airbreather @FObermaier fixed, but WKBReader now always reads "ring" geometries as linestrings (see test added with commit). Looks correct: I see that WKBGeometryTypes doesn't even have LinearRing type, so I suppose that maybe we can add a check (in WBBReader.ReadLineString) and build a LinearRing if the sequence is closed.

[2016-03-22 13:37] DGuidi commented on #96
something like:
[code]
but I fear to introduce some performances penalties or side effects

[2016-03-22 14:18] ikolev21 commented on #97
I don't have Git installed, I checked out the repository with TortoiseSvn. I don't want to install Git for now. So I suppose I cannot create a pull request. I can provide a patch.

For some reason attaching to this message wouldn't work, though I zipped the file as requested.
Here's a link to my Google drive:
https://drive.google.com/file/d/0B2MG4LKbRHikc215YWVHRXZtME0/view?usp=sharing

I couldn't

[2016-03-23 11:28] airbreather commented on #96
JTS [writes](https://github.com/dr-jts/jts/blob/f6187ee22aee29933c561284e1cb56df32fddcc0/modules/core/src/main/java/org/locationtech/jts/io/WKBWriter.java#L309-L311) LinearRings as LineStrings.

It [doesn't](https://github.com/dr-jts/jts/blob/f6187ee22aee29933c561284e1cb56df32fddcc0/modules/core/src/main/java/org/locationtech/jts/io/WKBReader.java#L197-L199) bother [doing](https://github.com/dr-jt

[2016-03-23 11:28] #96 closed

[2016-03-23 13:11] DGuidi commented on #96
ok, great. thanks to you for support.

[2016-03-28 16:05] #98 closed

[2016-03-29 12:27] DGuidi commented on #15
Looks a valid first step.

[2016-03-29 12:27] #15 closed

[2016-03-30 09:50] #95 closed

[2016-04-01 10:47] FObermaier commented on #86
Have you had a chance to confirm the issue?

[2016-04-04 11:36] xivk commented on #86
Just checked, in an empty project this is installed:

[code]

[2016-04-04 12:36] FObermaier commented on #86
Ben, I still can't confirm that there is an issue. Having set the package source to nuget.org and executing
[code]
in the package manager console on a clean project targeting .NET 4.5.2 yields the following lines:
[code]
As you can see Newtonsoft.Json version 8.0.3 is being picked up.
So I wonder whether you have some other package source enabled or have a different sort order for package sources

[2016-04-04 13:16] xivk commented on #86
Or maybe an older nuget client. I'll check.

[2016-04-04 13:24] xivk commented on #86
[code]

This is weird, updated vs plugin to latest version. What's going on.

[2016-04-04 15:10] FObermaier commented on #86
It seems to be an issue with nuget v 3[.3.0.212]

[2016-04-04 16:19] DGuidi commented on #97
thanks hope to take a look soon

[2016-04-04 21:27] Yaevh opened #100 "Too large buffer allocated in NetTopologySuite.IO.PostGisWriter"
`NetTopologySuite.IO.PostGisWriter.GetByteStreamSize(IPolygon geometry, int coordinateSpace)` allocates much larger buffer whan needed for `geometry`, which may result even in `OutOfMemoryException` in some cases. The bug stems from iterating over IPolygon.InteriorRings, but taking the size of the whole collection in each iteration (instead of only current item), essentially leading to reporting s

[2016-04-05 05:38] #100 closed

[2016-04-06 02:57] jumpinjackie opened #102 ".net core support?"
Any plans for porting NTS to .net Core?

[2016-04-06 06:36] DGuidi commented on #102
please use NTS [forum](https://groups.google.com/forum/#!forum/nettopologysuite) for generic questions, thanks

[2016-04-06 06:36] #102 closed

[2016-04-10 03:04] atrauzzi opened #103 "Unable to load shapefiles in Xamarin"
Was wondering if it might be possible to have a build done so that I can load shapefiles in my xamarin projects.  Appears as though there's no assembly being built for it.

I'm having a difficult time getting even GML loaded as it keeps giving me the error `EndElement node type cannot be read by GMLReader.`

(If anyone has any advice on how to get around this or if I'm perhaps doing something wron

[2016-04-10 15:25] #103 closed

[2016-04-12 07:15] senritsu opened #104 "ShapefileDataReader cannot read encoding from Streams in some cases"
**Status quo**
Currently the `ShapefileDataReader` takes a `IStreamProviderRegistry`, which in turn only supports the 3 `StreamTypes` of `Shape`, `Data` and `Index`. The `DbaseFileHeader` later reads the encoding from the dbf header and tries to find a .cpg file as a fallback if the provided streams are `FileStream`s.

**Problem**
While the ShapefileDataReader currently works fine with MemoryStrea

[2016-04-14 12:21] DGuidi commented on #97
please can you check [revkdtree](https://github.com/NetTopologySuite/NetTopologySuite/compare/revkdtree) branch and validate my changes?
@FObermaier all tests are green, what do you think? Actually [i have no idea what i'm doing](https://goo.gl/rsLkGq)

[2016-04-14 12:22] DGuidi commented on #97
moved to #105

[2016-04-14 12:22] #97 closed

[2016-05-01 15:30] pucx opened #106 "ShapefileDataReader support chinese fields"
how let ShapefileDataReader  to support chinese Fields?thanks.

[2016-05-02 10:03] DGuidi commented on #106
please use [Google Group](https://groups.google.com/forum/#!forum/nettopologysuite) for support requests

[2016-05-02 10:03] #106 closed

[2016-05-07 16:29] mogikanin opened #107 "DotSpatial integration"
Hi guys,

recently we moved DotSpatial into [github](https://github.com/DotSpatial/DotSpatial) too.
And we decided to switch to nts\geoapi instead of using dotspatial.topology.
At the moment we simply forked NTS & GeoAPI repos. But in fact there are a very little changes which needed for DS.
https://github.com/DotSpatial/GeoAPI/commit/9b63fe8ef802f8d81edc78ffaa51ac45f3ccd17b and
https://github.com

[2016-05-07 16:43] DGuidi commented on #107
I take a quick look and looks DotSpatial uses XYZM ordinates as default.
This can be a not-so-little change for NTS, at least for performaces purposes.
No problem for additional methods.
My2Cents.

[2016-05-07 18:01] mogikanin commented on #107
yes, main change is in adding 4-d ordinate M.
performance leak will be only in creation a lot of Coordinates. It's about +30% per time, and +8 bytes
per each instance. I've created a simple test to verify it. http://pastebin.com/NMHytp5f
On my old PC it's 1.7s vs 2.5s for 1e7 coordinates.
Other operations like iterating items will take mostly the same time since Coordinate is class.

So, the diffe

[2016-05-08 09:24] DGuidi commented on #107
@mogikanin maybe the default xyzm can be handled using specific coordinatesequecefactory?
@FObermaier what do you think about?

[2016-05-08 13:54] mogikanin commented on #107
can you explain idea with coordinatesequecefactory?

[2016-05-08 19:07] airbreather commented on #107
If I were doing something big that required XYZM, I'd start by making a subclass of [Coordinate](https://github.com/NetTopologySuite/GeoAPI/blob/master/GeoAPI/Geometries/Coordinate.cs) that adds the storage for M, implement [ICoordinateSequenceFactory](https://github.com/NetTopologySuite/GeoAPI/blob/master/GeoAPI/Geometries/ICoordinateSequenceFactory.cs) / [ICoordinateSequence](https://github.com/

[2016-05-09 05:55] FObermaier commented on #107
There already is an ICoordinateSequence/ICoordinateSequenceFactory implementation that plays nicely with DotSpatial shapes:
https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite/Geometries/Implementation/DotSpatialAffineCoordinateSequence.cs
https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite/Geometries/Implementation/DotSpatialAffineCoordi

[2016-05-09 06:45] DGuidi commented on #107
to me, this is the main issue with this request. I'd like to have NTS as close as possible with JTS, so I perfectly agree with you

[2016-05-11 07:54] mogikanin commented on #107
Ok, thanks for explanation. For now, we decided to use & maintain own forks of NTS\GeoAPI. This is a simplest solution for us.

[2016-05-11 09:25] FObermaier commented on #107
I doubt that this is the best and fastest way to go. Anyhow, be sure to
- notice where the original work was done and what your "extensions" are. The currently provided `DotSpatial.Topology` lacks that information.
- report issues and fixes.

[2016-05-12 12:00] DGuidi opened #108 "Integrate latest JTS changes"
Check [svn repo](https://sourceforge.net/p/jts-topo-suite/code/HEAD/tree/trunk/) and [git repo](https://github.com/dr-jts/jts/commits/master), then integrate changes.
Note that JTS changes after [JTS rev.1087](https://github.com/NetTopologySuite/NetTopologySuite/commit/a7831571ca9afd340d0d05ada07f084ab9657ef9) should be integrated too

[2016-05-19 09:05] DGuidi commented on #107
@mogikanin so I can close this issue?

[2016-05-19 09:15] mogikanin commented on #107
Yes

[2016-05-19 10:38] #107 closed

[2016-05-27 07:33] FObermaier commented on #30
Does the Encoding refer to the data, or does it refer to the column names as well?
The answer to [Which character encoding is used by the DBF file in shapefiles?](http://gis.stackexchange.com/questions/3529/which-character-encoding-is-used-by-the-dbf-file-in-shapefiles) states that it only applies to the data. The column names have to be encoded in LATIN1 (ISO-8859-1).

If that is true, why don't

[2016-05-27 07:56] DGuidi commented on #30
I think encoding is referred to data "only", so maybe your suggestion should work

[2016-05-30 05:56] DGuidi commented on #30
thx felix

[2016-05-30 05:56] #30 closed

[2016-05-30 07:11] FObermaier commented on #91
@gprieck, @jaundice:
Could you please review the fix and then close the issue?

[2016-05-31 15:10] gprieck commented on #91
I have not been able to get the patch to apply.

[2016-05-31 15:14] DGuidi commented on #91
@gprieck you should checkout master branch

[2016-06-21 08:06] Joeppie commented on #89
I've worked with a company in the past where the guideline was to only use var where the type of the variable in question was directly deducible from the line itself, without needing to rely on other information sources (such as Intellisense, debugging, etc.)

E.g.

[code]

[2016-06-21 08:40] DGuidi commented on #89
@Joeppie honestly, for the same reason you noticed I've stopped using var completely.

to me `var x = (y) as string` is readable exactly as  `string x = (y) as string`
and in **ALL** other cases is more readable to see directly the type.
my2cents.

[2016-06-21 08:44] #89 closed

[2016-06-21 14:04] FObermaier commented on #89
For what it is worth, I'm a great fan of `var` declarations: If I have to write down what type it is, there is something wrong with the variable name in the first place.

So if I name a variable
* `geom` it is a geometry, I don't specifically care if it is a point, line, etc.
* `point`, `ptWhatever` I know it is a point
* `line` ... you get the idea.

But that is just my 2cts

[2016-06-21 14:22] DGuidi commented on #89
but maybe you want a reference to `IPoint`m so, sometimes name isn't just enough

[2016-06-22 10:36] xivk commented on #16
The reader still expects 'properties' to come after 'type'. It's still valid geojson if 'properties' comes before 'type'. Can we fix this?

[2016-06-23 13:41] tlaguz opened #109 "Strong Assembly Name"
Can NetTopologySuite be signed with strong assembly name?
This would allow libraries referencing it to be strong named as well.

I have found this related issue:
http://forums.devart.com/viewtopic.php?f=1&t=32705

[2016-06-23 13:57] DGuidi commented on #109
Happy to see some products using NTS, like Devart.Data.Oracle.Entity.Spatials.
String Naming is an annoying thing, actually: in the past NTS was a signed assembly, but this kind of support was removed.
I don't remember the exact problems we have occurred: maybe you can try to build your own signed assembly, for PCL stuff as example.

[2016-06-23 13:57] #109 closed

[2016-06-23 14:16] tlaguz commented on #109
@DGuidi thanks for fast response!

I asked because weak named assemblies prevent msbuild from copying references with library which referenced them.
When for example Database assembly references NetTopologySuite, then all tests libraries that reference Database have to reference NetTopologySuite, because NTS is not copied automatically to test bin directory.

I can sign assembly on my own and publ

[2016-06-23 15:12] DGuidi commented on #109
I don't think this can be a problem, LGPL terms allow this, I suppose.
Anyway, why simply you don't add a MSBuild/Copy operation that copy all references to outpath?

[2016-06-28 08:59] xivk opened #110 ".NET Core 1.0 support"
Anyone working towards supporting .NET Core?

[2016-06-28 09:07] DGuidi commented on #110
actually, I don't know how much effort can be. at this time, there's a PCL version, probably we can start from this.

[2016-06-29 10:34] DGuidi commented on #16
@xivk can you post some sample code? I've made some checks but I'm unable to reproduce the error...

[2016-06-29 10:44] xivk commented on #16
It was this geojson file:

https://gist.github.com/xivk/43308e73c29356e8c17f399ba68ca196

I'm not able to create a test-project right now... on holiday sorry. But if I remember correctly this failed to deserialise. I see now that the 'properties' part is missing entirely.

[2016-06-29 11:12] DGuidi commented on #16
looks that the json you posted isn't related to issue you experienced. enjoy the holiday and maybe post a unit test when you return at work :)

[2016-06-29 12:37] DGuidi commented on #16
@xivk please check if [this](116e607870a4c038bfffd5f04ab192343934aedf)  helps

[2016-06-30 11:45] Git2263 opened #111 "Exception thrown, MultiLineHandler.cs, Ln133"
MultiLineHandler.cs, Ln133:
IMultiLineString multi;
if (geometry is IGeometryCollection)
multi = (IMultiLineString)geometry;
else
multi = factory.CreateMultiLineString(new[] { (ILineString)geometry });
Debug ----------------------------------------------
Exception thrown: 'System.InvalidCastException' in NetTopologySuite.IO.GeoTools.dll
An unhandled exception of type 'System.InvalidCastException'

[2016-06-30 12:26] DGuidi commented on #111
can you post some sample code that throws the error?
actually, the code should be ok because IMultiLineString implements IGeometryCollection, and this code should be called only when you have a IMultiLineString or a ILineString...
so I'm interested to see when this exception is actually thrown.

[2016-06-30 13:47] Git2263 commented on #111
var shapeFileType = Shapefile.GetShapeType(geometries);
var sfw = new ShapefileWriter(Path.GetFileNameWithoutExtension(shapepath), shapeFileType);
sfw.Write(geometries);

[2016-06-30 14:02] DGuidi commented on #111
@Git2263 ok this is clear, but I suspect that problem lies in data into shapefile.
can you post a link where I can download shapefile?

[2016-07-01 07:00] FObermaier commented on #111
@DGuidi: He wants to write some Shapefile. I think he has some geometries, one of which is not a `MultiLineString` but a plain `GeometryCollection`, Maybe `GEOMETRYCOLLECTION EMPTY`?
That is why the shapefile handler is failing.

[2016-07-01 07:03] DGuidi commented on #111
@FObermaier yep, you're right. my bad, I can try to build a unit test soon.

[2016-07-04 09:23] DGuidi commented on #111
@FObermaier the problem, to me, lies in [ShapeFile.GetNonEmptyGeometry](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite.IO/NetTopologySuite.IO.GeoTools/Shapefile.cs#L124) that tests only the first geom of a collection. Make sense to check all geometries, at least for consistency?

[2016-07-04 09:48] FObermaier commented on #104
Is this issue resolved?

[2016-07-05 12:48] #111 closed

[2016-07-19 17:57] trailway opened #112 "Reading shape files"
I recently encountered some shape files which the reader does not handle.  It can be debated whether the files are correct but they do work in ArcMap!  What happens is that the content length does not include M content which is present (although it's presence is benign because the value says that it is not meaningful).  This makes the reader fail because it walks through shape geometry using conte

[2016-07-20 06:56] DGuidi commented on #112
can you post some sample data that actually show this failure?

[2016-07-22 17:22] trailway commented on #112
Sample data:

[Matt.zip](https://github.com/NetTopologySuite/NetTopologySuite/files/378760/Matt.zip)

[2016-07-23 13:52] DGuidi commented on #112
Thanks for sharing this :)
 Hope to take a look as soon as possible.

----- Messaggio originale -----
Da: "trailway" <notifications@github.com>
Inviato: ‎22/‎07/‎2016 19:22
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>; "Comment" <comment@noreply.github.com>
Oggetto: Re: [NetTopologySuite/NetTopologySuite] Reading shape files

[2016-08-01 15:31] becio opened #113 "Point.M not supported"
I found out that Point.M is not supported, it always returns NaN, why ?

[2016-08-01 16:09] DGuidi commented on #113
yep, [this code](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite/Geometries/Point.cs#L392) looks wrong... try using Point.Coordinate.M directly

[2016-08-01 16:18] becio commented on #113
Nope, Coordinate does not support it either https://github.com/NetTopologySuite/GeoAPI/blob/master/GeoAPI/Geometries/Coordinate.cs#L429

[2016-08-01 16:31] DGuidi commented on #113
try check a sample like 'ExtractLinestringByMeasure'

[2016-08-02 07:47] #113 closed

[2016-08-02 11:36] chau-intl opened #114 "SplitPolygonExample.cs does split, but only returns one part of the result"
Looking a the samples I have found the `SplitPolygonExample.cs` which simple splits a polygon using a line.
![nts_split_polygon_bug](https://cloud.githubusercontent.com/assets/6311686/17327099/ffa74950-58b5-11e6-80d2-b1e16fdcee8d.JPG)

At the moment it seems like something has changed in `NetTopologySuite.Operation.Polygonize`, since the split using the line cuts the polygon but only return the le

[2016-08-02 12:07] DGuidi commented on #114
can be related to #87? [other changes](https://github.com/NetTopologySuite/NetTopologySuite/tree/master/NetTopologySuite/Operation/Polygonize) are at least one year old...

[2016-08-02 12:31] chau-intl commented on #114
I haven't tried the sample before, so I cannot tell when (or if?) it actually worked.

[2016-08-02 14:18] FObermaier commented on #114
This example does not work with JTS either. I'm sure it did work at the time I added it.

[2016-08-02 15:16] DGuidi commented on #114
So we can close this issue. thanks @chau-intl for this report.

[2016-08-02 16:00] FObermaier commented on #114
I think it broke with cd319e66 or one of the subsequent.
The new algorithm tries to take advantage of the knowing which rings are adjacent to each other. If one of the adjacent rings is included in the result set, all others are not. This is valid as long as the linework causing adjacency is not the line that shall split the polygon.
This is why we only get one.

Maybe @dr-jts has a clue on how to

[2016-08-03 18:16] JoelFeiner opened #115 "Census TIGER shapefiles cannot be read with Shapefile.CreateDataTable"
The issue seems to be small one.

Using the files contained in this zipfile as a test: [ftp://ftp2.census.gov/geo/tiger/TIGER2015/TRACT/tl_2015_01_tract.zip](ftp://ftp2.census.gov/geo/tiger/TIGER2015/TRACT/tl_2015_01_tract.zip)

I get an exception in ShapefileDataReader.GetValues(). The array passed in is one larger than the number of columns in the data reader. The reason for this seems to be tha

[2016-08-04 07:23] am2222 opened #116 "Any example how to work with sanp"
Hi,
I am working on a way to perform snapping on windows application,I saw this functions `https://github.com/NetTopologySuite/NetTopologySuite/tree/master/NetTopologySuite/Operation/Overlay/Snap` so..How can I use these functions?Does it even helps me?

thanks

[2016-08-04 07:51] FObermaier commented on #116
This is a utility class for overlay operations. I'm almost sure it won't help you.

[2016-08-04 07:51] #116 closed

[2016-08-04 08:59] am2222 commented on #116
thank so much for your help.So what is its usage?Is there any hints how can I do snapping?any algorithms or ideas..I am currently using sharpmap..I thought I can manage to do that using this algorithms

[2016-08-04 10:17] am2222 opened #117 "Add a point to any linestring or polygon"
Hi,I am working on an geometry editor, I want to add a point to a geometry, How can I perform it?I
It seems that I can use this method for adding a coordinate to a linestring

 `
//create a line string from a polygon
LineString line = new LineString(features[0].Geometry.Coordinates);
line.CoordinateSequence.---> I must add point here to coordinateSequence
line.GeometryChanged();
`

In fact I dont

[2016-08-04 10:20] am2222 commented on #117
can I calculate distance to each vertex in geometry and chose the nearest vertex and put the point after/Or next to that vertex? does it make sense?
But I think this is a heavy duty when we do this function on mouse move event :( any better idea?

[2016-08-05 20:45] am2222 commented on #117
Any ideas?:(

[2016-08-10 15:19] am2222 commented on #114
Any Idea how to fix this problem?I tried to use difference but it returns an empty polygon

[2016-08-10 18:05] DGuidi opened #118 "NETCore project"
Similar as GeoAPI.NETCore

[2016-08-16 05:58] senritsu commented on #104
From the looks of the commit it should be, but i didn't have an opportunity to test it yet in our application.

[2016-08-16 05:58] #104 closed

[2016-08-17 06:52] jholt456 commented on #114
I just hit this issue also. Sample I wrote a bit ago using 1.13.3.2 worked correctly, new project using 1.14.0 gave unexpected results. I dropped back to 1.13.3.2 for now.

**v1.13.3.2 Result:**
![nts-poly-1 13 3 2](https://cloud.githubusercontent.com/assets/647656/17727096/9c64cecc-641c-11e6-8a27-5b21b2ab2e73.png)

**v1.14.0 Result:**
![nts-poly-1 14](https://cloud.githubusercontent.com/assets/64

[2016-08-17 07:48] FObermaier commented on #114
@jholt456 Could you post a unit test for the sample pictures?
I have a broad idea how to fix this issue.

[2016-08-17 14:53] jholt456 commented on #114
Sure thing @FObermaier.  The images were captured from an application I am working on, but this test replicates the issue.  It returns 64 polys on v1.13.3.2, and 32 on v1.14.  Please let me know if I can send anything else over.

[code]

[2016-08-18 07:49] FObermaier commented on #114
Your issue can be resolved using the `new Polygonizer(false)` constructor.

[2016-08-18 08:00] FObermaier commented on #114
In fact it turned out that the split polygon example will continue to work when using the constructor mentioned above. Sorry!

[2016-08-18 08:00] #114 closed

[2016-08-18 08:26] #117 closed

[2016-08-18 09:25] FObermaier commented on #91
I think this is done.

[2016-08-18 09:26] #91 closed

[2016-08-18 10:31] FObermaier commented on #115
I must admit I have not used this functionality at all. To me there are a couple of questions to resolve:
* What is the expected behavior?
  * Do you need the geometry definition in the data table at all?
  * If you need it, do you need the geometry, its `WellKnown[Text|Binary]` or sth else,
  * is the geometry column at index 0 the right position?
* The record id is not returned at all, isn't tha

[2016-08-18 18:46] am2222 commented on #114
@jholt456 a not related question, Can you say what library are you using to draw shapes?thanks

[2016-08-18 20:16] jholt456 commented on #114
@am2222 Not using a library in the images I posted due to interactivity requirements for this project.  I use NTS for the heavy lifting behind the scenes, but the view just binds an ItemsControl to a Shapes collection on the view model.  Each shape type has a DataTemplate to specify how it will be rendered. In the case of a Polygon, the data template renders a standard WPF polygon, all points from

[2016-08-19 10:09] FObermaier commented on #11
@airbreather, please have a look at [this] (https://github.com/NetTopologySuite/NetTopologySuite/blob/10a2a5cf354863eebd3e91dc550e108d4980a1ea/NetTopologySuite.Windows.Forms/Test/BasicTestMedia.cs#L46) test and tell me if the results are what you expect.

[2016-08-19 11:30] FObermaier commented on #108
Duplicate with #35

[2016-08-19 11:30] #108 closed

[2016-08-19 14:21] JoelFeiner commented on #115
The expected behavior is not to get an array out of bounds exception. That is, I should be able to call CreateDataTable() without error. So that bug needs to be fixed.

It would seem to me that the data table should return all columns in the shapefile, including the geometry/geography column. It appears that that is the intent, but the structure of ShapefileReader is to have the geometry object st

[2016-08-22 12:40] airbreather commented on #11
@FObermaier: the results do seem to be as expected.  As an aside, the test might be more useful if you were to pick a few points and ensure that the WPF geometry's FillContains predicate matches up with the NTS geometry's Covers predicate.

It might look something like this:

    Assert.AreEqual(pathGeometry.FillContains(new WpfPoint(25, 50)), geomNonzero.Covers(Geometries.GeometryFactory.Default.

[2016-08-22 12:43] airbreather commented on #11
For quick reference, the inputs and outputs of the test are as follows, for quick copy/pasting into OpenJUMP which is how I verified.

Input
----

    LINESTRING(15 0,50 100,85 0,0 65,100 65,15 0)

EvenOdd Output
----

    MULTIPOLYGON (((37.75 65, 29.77958237 42.22737819, 0 65, 37.75 65)), ((15 0, 29.77958237 42.22737819, 50 26.76470588, 15 0)), ((37.75 65, 50 100, 62.25 65, 37.75 65)), ((70.2204

[2016-08-22 12:44] #11 closed

[2016-08-22 16:57] am2222 opened #119 "GeoJsonReaderTest.cs returns error"
Hi, has any one tested this class?
`https://github.com/NetTopologySuite/NetTopologySuite/blob/dc3cfd98f42d4c74f6e1fd8c25e644748cd29ae6/NetTopologySuite.IO/NetTopologySuite.IO.Tests/GeoJSON/GeoJsonReaderTest.cs`

I have tested it and it returns this error
`{"Expected a property name."}`
Is there any way to fix it?
this is my code
[code]

[2016-08-23 07:06] #119 closed

[2016-08-25 23:24] DustinReagan opened #120 "Roundtrip Serializing/Deserializing a Feature fails"
See this StackOverflow [link ](http://stackoverflow.com/questions/39155975/serializing-deserializing-a-roundtrip-with-nettopologysuites-io-library-for-geo) for details.

[2016-08-26 06:56] DGuidi commented on #120
the presence of `\"properties\":null` looks the cause of the bug.

[2016-08-26 07:10] DGuidi commented on #120
fixed. can you check if this fix resolve your issues?
anyway, thanks for reporting this :)

[2016-08-26 08:14] FObermaier commented on #120
@DGuidi: The question is where does `"properties":null` come from in the first place? Was that created by the GeoJsonWriter and if so, does that conform to the json/geojson standard.

[2016-08-26 08:26] DGuidi commented on #120
@FObermaier heres' my thoughts

1. good question: issue doesn't provide initial feature object used in with GeoJSONWriter, but I can make some additional checks.

2. [GeoJSON specs](http://geojson.org/geojson-spec.html#feature-objects) explicitly allows `null`

[2016-08-26 09:07] DGuidi commented on #120
@DustinReagan can you provide a sample code that generates a GeoJSON with `\"properties\":null`?
I've made some checks and I'm unable to generate a similar json using GeoJSONWriter

[2016-08-26 19:18] DustinReagan commented on #120
I've made some checks and I'm unable to generate a similar json using GeoJSONWriter

@DGuidi Sure:

`Geometry geometry = SomeMethodThatCreatesAGeometry();
Feature feature = new Feature(geometry, null);`

Thanks for looking into this bug.  For now, I've just resolved my issue by doing:

`Feature feature = new Feature(geometry, new AttributeTable());`

[2016-08-26 19:47] DGuidi commented on #120
Tried code like this but geojson writer doesn't produce a json string but throws exception, at least using latest master.
I give some other checks soon. Thanks again.

----- Messaggio originale -----
Da: "Dustin Reagan" <notifications@github.com>
Inviato: ‎26/‎08/‎2016 21:18
A: "NetTopologySuite/NetTopologySuite" <NetTopologySuite@noreply.github.com>
Cc: "Diego Guidi" <diegoguidi@gmail.com>; "Ment

[2016-09-07 14:58] laetitiamh opened #121 "Open a shapefile which contains faulty data"
Hi!

I am trying to open a shapefile that contains building outlines using NetTopologySuite.IO.ShapefileReader.
I only get around 700 of the 5000+ buildings as a result as the reading stops early because of a faulty linear ring "Number of points must be 0 or >3". This shapefile is automatically generated and contains some errors. I can open the same file in a tool like http://mapshaper.org/ and I

[2016-09-09 03:48] sendreams opened #122 "polygon intersection error"
Steps to reproduce

two polygon, coordates is below: {LINEARRING (0.0000000000000000 -6.1026585365860800, 3.8000000000000000 -5.7690000000000000, 7.9000000000000000 -5.4090000000000000, 12.0000000000000000 -5.3690000000000000, 16.1000000000000000 -5.0990000000000000, 20.3000000000000000 -5.1390000000000000, 24.5000000000000000 -4.9090000000000000, 28.5000000000000000 -4.6390000000000000, 32.600000

[2016-09-09 07:20] sendreams opened #123 "LineString Intersection with Polygon return null"
Steps to reproduce

1.a lineString with:
{LINESTRING (0 -5.15, 30 -5.15, 48.9 -2, 105.2 -2, 127.6 0.8, 132.6 0.8)}
2. Intersection with a rectangle polygon with
{LINEARRING (15.325555555555553 0.8, 42.309375 0.8, 42.309375 -5.15, 15.325555555555553 -5.15, 15.325555555555553 0.8)}
3. return null

Expected behaviour

should return a LineString

Actual behaviour

return null

use the latest code.

[2016-09-09 11:53] FObermaier commented on #123
![tmpf1ce](https://cloud.githubusercontent.com/assets/2065346/18386073/b623f2f4-7694-11e6-94cd-69d4592bc4c2.png)

[2016-09-09 11:53] #123 closed

[2016-09-09 12:03] FObermaier commented on #122
Not valid with current source:
![tmp1595](https://cloud.githubusercontent.com/assets/2065346/18386207/b4715180-7695-11e6-831b-ca61c77a9b26.png)

Note: You are not intersecting two polygons, you are intersecting two linear rings, thus your result cannot be a polygon, your result may consist of lines and points. in this case it is:
`GEOMETRYCOLLECTION (POINT (6.4274509803921562 -5.45), POINT (20.648

[2016-09-09 12:03] #122 closed

[2016-09-09 15:29] sendreams commented on #122
@FObermaier can you please tell me what the diff between linear rings and polygon, i have confused about them.
another question: in your snap picture, how can you render the geometries ? use SharpMap or any other?

[2016-09-09 15:34] sendreams commented on #122
my really point is get the intersect region between two polygon, like this picture.
<img width="329" alt="snap2" src="https://cloud.githubusercontent.com/assets/4160051/18392822/d6598c22-76e5-11e6-8a9b-b182e0ea1f63.png">
how can i do it?

[2016-09-09 18:53] FObermaier commented on #122
A `LINEARRING` is a special form of a `LINESTRING`. It is lineal, closed and has at least 4 coordinates or, when empty, 0. A `POLYGON` is an aereal geometry. The exterior ring of a `POLYGON` is made up of a 'LINEARRING'.

[2016-09-10 08:09] DGuidi commented on #122
some useful resources [here](https://en.wikipedia.org/wiki/Simple_Features)

[2016-09-11 10:48] sendreams commented on #122
@FObermaier  do you know any open source library can intersection two polygon? i need the polygon result. thanks.

[2016-09-11 12:08] FObermaier commented on #122
You are using the __right library__ but the __wrong geometries__:
Try intersecting
[code]
and
[code]

[2016-09-11 13:20] sendreams commented on #122
@FObermaier  thank you very much for you reply, i'm a newer for NetTopologySuite, i use your simple data for test, but never successed. my test code is below, is any wrong?
string r1 = "0.0000000000000000 -6.1026585365860800, 3.8000000000000000 -5.7690000000000000, 7.9000000000000000 -5.4090000000000000, 12.0000000000000000 -5.3690000000000000, 16.1000000000000000 -5.0990000000000000, 20.300000000

[2016-09-11 14:13] FObermaier commented on #122
1. Look in wikipedia for "Well known text"
2. Try this snipplet
[code]

[2016-09-12 01:39] sendreams commented on #122
@FObermaier i have download the latest code and test your code, it going to failed.
`        [TestAttribute]
        public void TestPolgyonIntersection() {
            IGeometry a = rdr.Read("POLYGON ((0.0000000000000000 -6.1026585365860800, 3.8000000000000000 -5.7690000000000000, 7.9000000000000000 -5.4090000000000000, 12.0000000000000000 -5.3690000000000000, 16.1000000000000000 -5.0990000000000

[2016-09-12 01:44] sendreams commented on #122
Additional information: found non-noded intersection between LINESTRING(3.8 -5.769, 7.9 -5.409) and LINESTRING(31 -5.45, 6.4274509803921562 -5.45) [ (7.4330555555555522, -5.45, NaN) ]
stacktrace:
   在 NetTopologySuite.Operation.Overlay.Snap.SnapIfNeededOverlayOp.GetResultGeometry(SpatialFunction opCode) 位置 D:\test\NetTopologySuite-master\NetTopologySuite\Operation\Overlay\Snap\SnapIfNeededOverlayO

[2016-09-12 01:59] sendreams commented on #122
<img width="690" alt="snap2" src="https://cloud.githubusercontent.com/assets/4160051/18422584/a677d8a6-78cf-11e6-9f6e-d3485c673f24.png">

[2016-09-12 06:16] FObermaier commented on #122
The `LINEARRING` that makes up the first `POLYGON` is self-intersecting. By the definition of a `POLYGON` in the _[Simple Feature Access - Part 1: Common Architecture](http://www.opengeospatial.org/standards/sfa)_ this is invalid, and NTS (sometimes) fails to correctly handle that. You can fix the self-intersection by assigning `a = a.Buffer(0);`.

[2016-09-12 07:33] sendreams commented on #122
@FObermaier thank you very much, it can work now. another question: is any way to check a polygon is Self-intersection?

[2016-09-12 14:04] FObermaier commented on #122
[code]
or
[code]

[2016-09-13 06:35] sendreams opened #124 "polygon buffer retun empty"
some self-intersection polygon do buffer action will return empty polygon.

POLYGON ((1.4749999999994841 -5.15, 30 -5.15, 48.9 -2, 108.1997 -2, 130.25148787313435 0.75647348414179227, 130.25148787313435 0.75647348414179161, 130 0.75, 126.3 0.72, 122.9 0.7, 119.2 0.42, 115.2 0.45, 111 0.29, 106.9 0.23, 102.8 0.2, 98.8 0.12, 94.8 0.04, 90.7 -0.08, 86.5 -0.2, 82.4 -0.42, 78.3 -0.57, 74.1 -0.69, 69.9

[2016-09-13 07:48] sendreams opened #125 "LineString intersection with LineString return null"
LineString intersection work in most cases, but failured with some data:
"LINESTRING (0 -5.15, 30 -5.15, 48.9 -2, 144.6001 -2, 167.0001 0.8, 172.0001 0.8)"

"LINESTRING (0 -5.5546097560975278, 0.6 -5.559, 4.7 -5.589, 8.9 -5.599, 13 -5.739, 17.1 -5.679, 21.2 -5.789, 25.6 -5.649, 29.7 -5.369, 33.9 -4.979, 38 -4.629, 42.2 -4.449, 46.3 -4.449, 50.5 -4.259, 54.5 -3.579, 58.6 -3.279, 62.6 -3.209, 66.9 -

[2016-09-13 07:52] #125 closed

[2016-09-13 07:55] sendreams commented on #125
i find the reason
in my code
   IMultiPoint sectPts = designLs.Intersection(realLs) as IMultiPoint;
but has only one intersection point.

[2016-09-14 02:46] sendreams commented on #124
[TestAttribute]
        public void TestBuffer() {
            WKTReader rdr = new WKTReader();
            IGeometry a = rdr.Read("POLYGON ((1.4749999999994841 -5.15, 30 -5.15, 48.9 -2, 108.1997 -2, 130.25148787313435 0.75647348414179227, 130.25148787313435 0.75647348414179161, 130 0.75, 126.3 0.72, 122.9 0.7, 119.2 0.42, 115.2 0.45, 111 0.29, 106.9 0.23, 102.8 0.2, 98.8 0.12, 94.8 0.04, 90.7 -0.

[2016-09-14 02:50] sendreams commented on #124
![Uploading 无标题.png…]()

[2016-09-14 02:58] sendreams commented on #124
<img width="380" alt="debug" src="https://cloud.githubusercontent.com/assets/4160051/18498500/6ad5bad4-7a69-11e6-9e07-9ca65e1d06b1.png">

[2016-09-14 07:17] FObermaier commented on #124
Calling `geometry.Buffer(0)` does not work in all cases.
Another way is to use `NetTopologySuite.Precision.GeometryPrecisionReducer`:
[code]

In your case this leads to the slightly different `POLYGON`:
[code]

[2016-09-14 07:17] #124 closed

[2016-09-14 07:51] FObermaier commented on #120
With 243ede3e9e6d8f52e87f2aedf476e8a3fc802e93 the following improvements have been made to the converter objects:
- when serializing, they obey to `JsonSerializer.NullValueHandling`
- when deserializing, they don't fail when encountering null tokens.

[2016-09-14 07:51] #120 closed

[2016-09-14 08:48] sendreams commented on #124
“Calling geometry.Buffer(0) does not work in all cases.”, i dont understand your mean,  i have useed buffer(0) in another many situation, it can work perfect in most time except in this case.

[2016-09-14 10:39] FObermaier commented on #124
If I'm not mistaken, you are attempting to fix an invalid polygon by calling `geom.Buffer(0)`. While this works in most of the cases, it does not always. In your case it appearantly does not.

[2016-09-16 01:46] sendreams commented on #124
@FObermaier , can you please toll me the reason, why buffer(0) cann't be working in some case?

[2016-09-16 05:31] DGuidi commented on #124
@sendreams algorithm stuff

[2016-09-16 07:02] FObermaier commented on #124
From [JTS-FAQ](http://tsusiatsoftware.net/jts/jts-faq/jts-faq.html)

[2016-09-21 11:09] becio opened #126 "GeometryFactory.CreatePoint does not return a point that supports M"
The title can be misleading, the long story is that what I have done is instantiating a custom NtsGeometryServices providing the DotSpatialAffineCoordinateSequenceFactory which supports the use of M, then I obtained the IGeometryFactory and invoked the method CreatePoint(Coordinate) to create a point, well this point does NOT support the property M.

Under the hood I noticed that this is because t

[2016-09-26 10:16] am2222 opened #127 "Any secure way to reproject a shape file."
Hi, I dont know if my question is related into this project or not, I want to find a secure way to reprojection shape files, My main SRID code is 900913 and I must perform a re-projection on each shape file which I want to add on those layer automaticly. I have used sharp map to reproject layers but It has some problems. In some cases it broke data,
I want to know if there is any way to perform re

[2016-09-26 10:23] am2222 commented on #86
I had the same problem , I forced to use Newtonsoft.Json version 7.0.1 instead of 9 and it worked, It seems this project is highly depended on Newtonsoft.Json version 7.0.1

[2016-09-26 10:31] am2222 opened #128 "How do you manage to split a polygon (flowchart)"
Hi,
This question is not related into this project, I would thank you if you halp me,
I have a polygon, I want to split it into three equile parts, I have a senario as bellow,
1- user must select a vertex on polygon
2- user must add direction to start split on
3- based on the node and direction we must select a line segment on polygon
4-??????

I have no idea how to go farther and then do what to

[2016-09-26 11:43] DGuidi commented on #128
please use [Google Group](https://groups.google.com/forum/#!forum/nettopologysuite) for this kind of questions

[2016-09-26 11:43] #128 closed

[2016-09-26 11:44] DGuidi commented on #127
please use [Google Group](https://groups.google.com/forum/#!forum/nettopologysuite) for this kind of questions

[2016-09-26 11:44] #127 closed

[2016-09-28 22:35] HarelM opened #129 ""side location conflict" undescriptive exception"
I'm trying to use this suite to manipulate geo data before inserting it to elastic search database.
The manipulations is uses GeoJson Feature and tests if one feature is inside the other.
I'm getting the following exception:
"side location conflict" with some coordinates.
How can I tell why I'm getting this error and how to modify the feature in order to solve it?

[2016-09-28 22:43] HarelM opened #130 "GeoJson Attributes property enhancments"
This property is not developer friendly.
As a framework I would expect this property to be more like a dictionary.
for example this should work:
`feature.Attributes["new_key"] = "123"` inserted I get an exception that `new_key` not exists (with a grammar mistake).
a required API capability would be to merge between attributes from two features.

[code]

Another capability would be to be able to in

[2016-09-29 11:15] FObermaier commented on #129
There are two possible reasons that you are getting this exception:

1. Most likely you have invalid geometries to start with. You can test geometries for validity by either checking `feature.Geometry.IsValid` property or by using the `NetTopologySuite.Operation.Valid.IsValidOp` class. The later gives you the location where the validation test failed.
If this is the case you can attempt to fix the

[2016-09-29 19:27] HarelM commented on #129
I'm converting all the OSM elements that have a name in Israel from OSM to GeoJson then try and add the name of the containing element to each one that is a line or a point.
The following OSM items have some issues when I try to test if they contain other elements.
While some are easy to see the issue that they intercept themselves other are not.
http://www.openstreetmap.org/relation/1638059
http:

[2016-09-30 07:37] FObermaier commented on #129
When you use `IsValidOp` you get the reason and the location of the first invalid item in the geometry.
[code]

I got the first relation using (Overpass API, exported GeoJson)[https://gist.github.com/anonymous/78271eac2b5938576e8cafb04b3de68b] and put that in the current version of the GeoJsonSerializer. The feature's geometry is perfectly valid and a `Contains` on it does not throw an exception.

[2016-09-30 08:32] FObermaier commented on #130
We accept pull requests.

[2016-09-30 09:04] HarelM commented on #129
Thanks, I now am able to see the error: "Self-intersection" at  X: 35.1588432 Y: 32.795140700000005.
Which in the above case is a point where the inner and the outer polygon of the multi-polygon meet, which might be a problem with my converter.
Is it possible to get this error in the exception instead of writing this code in the ```catch``` statement?
Also, since the geometry has a ```IsValid``` m

[2016-09-30 09:15] HarelM commented on #130
Would love to help. do you have any guidelines? thing you think should be there and are not? developing guidelines are to where the tests are? are all the classes fully covered? are there any other type of geometry that this library is using and should look similar or have a similar API?

[2016-09-30 11:25] FObermaier commented on #130
Currently there are no "official" guidelines. I invite @NetTopologySuite/developer to create a wiki page for that.

[2016-09-30 12:47] HarelM commented on #129
Please see if I didn't understand something, see the following gist:
https://gist.github.com/HarelM/1377f7cb9b86cea452155a7920d32c61
running this test fails:
[code]

[2016-10-02 14:19] FObermaier commented on #129
This test fails on my machine as well.

[2016-10-02 15:40] HarelM commented on #129
But the shape is valid, right? It's just an inner shape touching the outer shape but it's a valid multi-polygon...?

[2016-10-03 09:08] FObermaier commented on #129
No, the shape is __not__ valid

[2016-10-03 09:18] HarelM commented on #129
Can you elaborate a bit please? why do you consider this shape as invalid?

[2016-10-03 10:18] FObermaier commented on #129
That is not the geometry you have defined in your gist. Your geometry looks like this:
![image](https://cloud.githubusercontent.com/assets/2065346/19034357/45267932-8963-11e6-99e4-2bcb25f4701f.png)
Note: the hole in your picture is not defined as a hole in the GeoJson

[2016-10-03 10:49] HarelM commented on #129
How does one define a hole in multi-polygon GeoJson? I couldn't fully understand the [spec](http://geojson.org/geojson-spec.html).
If I'm to read it again in-light of what you just wrote then I need to create a polygon with two linear rings and add this polygon to the multi-polygon?
So how does one convert OSM (which has only inner and outer members for multipolygone) to GeoJson? by looking into a

[2016-10-03 12:10] FObermaier commented on #129
Yes.

[2016-10-03 15:47] HarelM opened #131 "GeoJson desirializer gets stuck"
Hi again, sorry for nagging.
I have accidentally created an invalid GeoJson file. when I try to desirialize it the process gets stuck instead of throwing an exception or returning null:
https://gist.github.com/HarelM/03edf767ef6cab60ee7ce7888a9138a1#file-gets_stuck-geojson
Test:
[code]

[2016-10-04 06:34] FObermaier commented on #131
To validate your GeoJson you can use http://geojsonlint.com/
With this json string there are at least two issues:
- key values need to be in quotes ("features")
- a FeatureCollection contains features not geometries.

[2016-10-04 06:34] #131 closed

[2016-10-04 07:09] FObermaier commented on #129
As we don't want to diverge from the JTS source, we currently will neither supply an `IsValidReason()` function nor change the logic of the predicate and operation classes.

As for `IsValidReason`, this can easily be achieved using extension classes. Furthermore it is the responsibility of the client of this API to provide valid input.

[2016-10-04 07:09] #129 closed

[2016-10-04 08:08] HarelM commented on #131
Please re-open.
I know there are issues with this geojson. nevertheless, the fact is that the code gets stuck (!) when it shouldn't.

[2016-10-04 11:39] FObermaier commented on #131
Code as is throws "ArgumentException" when trying to parse the first feature in the collection.

[2016-10-04 11:44] FObermaier commented on #126
Becio, you expect a `DotSpatialAffineCoordinateSequenceFactory` to create 3DM coordinate sequences, no matter what?

[2016-10-04 11:45] #16 closed

[2016-10-04 11:51] HarelM commented on #131
I'm using version suite 1.14, Newtonsoft.Json 9.0.1 from NuGet on windows 10 with VS 2015 community.
The above test never finishes...

[2016-10-04 12:11] HarelM commented on #129
I'm not sure I understand this statement:

In another issue I open you said that this library is open to pull requests. the above statement feels like it is contradicting it if I'm planning to create a pull request only for the .Net code (this is what I feel comfortable with), doesn't it?

The original reason I opened this issue is due to an unclear exception - there are workaround to understand w

[2016-10-19 09:20] koffmoff opened #132 "WpfGeometryReader produces invalid MultiPolygon"
I need to convert WPF geometries into NTS, so I found the WpfGeometryReader and tried it. I don't know if this is experimental code, or if it's considered finished. But anyway, here's a problem I found.

Converting a 10x10 square with a 2x2 hole in its center produces a Multipolygon with two squares (10x10 and 2x2). This is not a valid multipolygon. Nor is it a correct representation of my WPF geo

[2016-10-19 09:26] koffmoff opened #133 "WpfGeometryReader crashes when end node != start node"
Here's another problem with the WpfGeometryReader. Seems it reuires each closed figure to end in the same node as it starts. This is not required by WPF geometries. The code below throws

[code]

[2016-10-19 10:03] FObermaier commented on #133
It is a requirement for NTS to have closed rings for polygons. We'll have to add that last point to get it valid.

[2016-10-20 06:45] koffmoff opened #134 "WpfGeometryReader generates invalid geometry"
Amazingly fast response on #133 and #132, thanks! Here's another one. The input is taken from a production case, hence the weird coordinates. I've tried to simplify the input as much as possible, but this is about as far as I come. The input looks ok to me, but generates an invalid geometry.

Here's a visualisation of the WPF geometry:

![image](https://cloud.githubusercontent.com/assets/2835896/1

[2016-10-20 07:40] FObermaier commented on #134
The problem is, that the framing polygon is not the first one defined. Thus the parsed WpfGeometry looks like this:
![image](https://cloud.githubusercontent.com/assets/2065346/19550298/2edf6cb2-96a9-11e6-81e6-3ed176ec23af.png)

[2016-10-20 08:01] koffmoff commented on #134
Oh I see. That's a problemsince WPF has no concept of "framing polygon". Two overlapping squares make a perfectly valid shape:

![image](https://cloud.githubusercontent.com/assets/2835896/19551496/bfde564a-96ab-11e6-9aae-0ab92766a704.png)

[code]

The above give me OutOfMemoryException.

Any ideas on how to work around this?

[2016-10-20 08:07] FObermaier commented on #134
What happens if you put a plain line between the two polygons?

[2016-10-20 08:09] koffmoff commented on #134
Sorry, don't know what you mean by "between". There really is no between,
since they're overlapping.

On Thu, Oct 20, 2016 at 10:07 AM Felix Obermaier <notifications@github.com>
wrote:

[2016-10-20 08:36] FObermaier commented on #134
If you put a line of some sort between the definition of the rectangles.
`"M0,5 L0,15 10,15 10,5 0,5 <HERE THE LINE> M5,0 L5,10 15,10 15,0 5,0"`
I'm not familiar with the syntax, otherwise I would do it myself.

[2016-10-20 08:40] koffmoff commented on #134
You mean like this?

`var wpfGeom = Geometry.Parse("M0,5 L0,15 10,15 10,5 0,5 M0,0 L15,15 M5,0 L5,10 15,10 15,0 5,0");`

![image](https://cloud.githubusercontent.com/assets/2835896/19552763/84ebc440-96b1-11e6-8949-93fe6701b7fd.png)

Same result. OutOfMemoryException.

[2016-10-20 15:57] laetitiamh commented on #121
Any comment on this issue? Thanks!

[2016-11-09 21:12] NightOwl888 opened #135 "PolygonBuilder API Help"
I am porting some code from Java and am having trouble working out how to use PolygonBuilder, since it doesn't appear to be a fluent builder at all. There is no Build() or Create() method as one might expect. The Add() method expects a PlanarGraph, which also doesn't seem to have a way to add points. There doesn't appear to be documentation for PlanarGraph on the wiki.

Here is the simple code I a

[2016-11-09 21:22] NightOwl888 commented on #135
Never mind. I just discovered that the PolygonBuilder I am referring to is another class in the same project,  not the one in NetTopologySuite.

[2016-11-09 21:22] #135 closed

[2016-11-26 17:24] HarelM opened #136 "Is the angle calculation incorrect?"
I'm running the following code:
[code]
I think I should get a different values for ```Angle``` for the above lines, am I missing something? I'm getting ~45 degrees for both.
Note that they have a different direction although they are compiled from the same points.

[2016-11-28 06:04] pucx opened #138 "how to cal ConcaveHull?"
Hi,how to cal ConcaveHull?The result is null.The method is just a sentence"return null;".

[2016-11-30 08:33] pucx opened #139 "How to merge many polygons by use NetTopologySuite?"
Is there a method to merge many polygons by use  NetTopologySuite?Thanks.

[2016-11-30 10:12] FObermaier commented on #139
Use [`NetTopologySuite.Operation.Union.CascadedPolygonUnion`](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite/Operation/Union/CascadedPolygonUnion.cs) class

[2016-11-30 10:12] #139 closed

[2016-12-09 20:13] gktval opened #141 "Bug in difference method"
When I do the difference between two polygon geometries, the result will sometime have hanging ends; thus causing an invalid polygon and resulting in a CCW point direction when it should be CW.
The zip file below has two files, the original (Boundary.shp) and the result of a Union in which I do a difference. The half circle on the far left was should be in CW direction, but it is not.

[Boundary-U

[2016-12-12 18:44] HarelM commented on #136
Any updates on this?

[2016-12-12 20:13] DGuidi commented on #136
angle is an old addition from MonoGIS team, and ignores direction so result is the same for buth geometries; probably this was the MonoGIS desired result...
Anyway, probably the best move should be to mark as deprecated the Angle property entirely.

[2016-12-12 21:42] HarelM commented on #136
So if I want to calculate the angle between two lines I should use ```LineSegment```?

[2016-12-12 21:48] HarelM opened #142 "Feature suggestion: RadialDistanceSiplifier"
A very simple but powerful simplifier, here is a short code I wrote, might need better support for other geometries and unhappy cases.
Written partially like D-P-Simplifier in terms of API.
[code]

[2016-12-13 06:40] DGuidi commented on #142
thanks for the code posted here

[2016-12-13 08:09] DGuidi commented on #136
try with AngleUtility

[2016-12-13 08:21] #136 closed

[2016-12-13 11:28] HarelM commented on #142
I looked at the code of the D-P simplifier and understood I wasn't close to how it's written (with the coordinates transformer etc.), the idea is relevant never-the-less and it's fairly simple.
I'm not sure what will be the purpose and the value of posting it in the forum...?

[2016-12-13 11:54] DGuidi commented on #142
that anyone can read and use this code if they need.

[2016-12-13 12:21] HarelM commented on #142
Done: https://groups.google.com/forum/#!topic/nettopologysuite/m2Eyct-kLjE
Thanks for the quick response. keep up the good work.
I eventually used a modified version of this simplifier that is also angle dependant to remove GPS bad measurements, I think it's pretty specific to my needs but if anyone is interested the code can be found here:
https://github.com/IsraelHikingMap/Site/blob/master/Israe

[2016-12-13 12:44] DGuidi commented on #142
You welcome. Thanks to you for your suggestions.

[2016-12-13 12:44] #142 closed

[2016-12-13 12:46] HarelM commented on #142
So you are not planning on adding it? kinda disappointing...

[2016-12-13 19:08] HarelM commented on #136
Thanks! I will.

[2016-12-22 03:21] russcam opened #143 "Release tag for NetTopologySuite 1.14"
Looking through the branches and releases, there doesn't seem to be a tag for [1.14 that's up on Nuget](https://www.nuget.org/packages/NetTopologySuite/1.14.0).

Going through the history, it looks like https://github.com/NetTopologySuite/NetTopologySuite/tree/ebc10cfc5f7c14b6bbbd656e64e49c4d05bbc2dd is the last commit before 1.14 is released.

Would it be possible to tag this commit? I was lookin

[2016-12-24 22:26] HarelM opened #144 "Validation in Asp.Net WebApi causes endless loop"
Basically what I wanted to do is send a ```FeatureCollection``` to my server in a ```POST``` method.
This might be a bug in WebApi but it might indicate an issue in the code here.
A similar issue can be seen here:
http://stackoverflow.com/questions/27979639/webapi-put-insufficientexecutionstackexception-with-dbgeography-type

Just create a simple webapi project, define all the converters and try a

[2016-12-24 22:58] HarelM commented on #144
P.S the following code is what I used to workaround this issue, in case anyone needs it:
[code]
and on ```HttpConfiguration```:
[code]

[2016-12-30 12:08] HarelM commented on #110
Any updates on this?
Maybe a NTS.core version for .Net core and the parts that can't be migrated to .Net core can be in a separate package?

[2017-01-03 06:31] DGuidi commented on #110
thanks for asking this. actually, no plans to work on it, although I think can be useful to have this kind of support. if you or someone out there can help, you welcome.

[2017-01-03 13:48] PaulvonGitHub opened #145 "Can't deserialize GeoJson from OSM boundary files"
Hi guys,

Im trying to deserialize the GeoJson into a FeatureCollection but it always returns "Expected token '{' not found."

I got the geojson from: https://osm.wno-edv-service.de/boundaries/

When i try to deserialize these files with GeoJson.net it's no problem.

[2017-01-03 19:17] HarelM commented on #110
Can we leave this issue open then? I might have some time to spend on this (Assuming GeoAPI has a NuGet package which is targeting .Net Core) I'll see if I can contribute back to this awesome library.

[2017-01-03 20:05] xivk commented on #110
I'll try to pick this back up but it could take a while.

Reopening this issue to track the work. Has anyone tried already...? Assuming an approach similar to GeoAPI is ok...

[2017-01-03 20:59] HarelM commented on #110
@xivk Let me know if you need help. the PCL approach in this project should be OK for .Net Core as well, shouldn't it?

[2017-01-05 17:21] xivk commented on #110
I would think so to, the only issue is that for a .NET core project (as xproj/project.json) the source files need to be in the same folder. See GeoAPI.

Another question, do we use the xproj/project.json setup (VS2015) or do we move to the newer cproj way of working (VS2017). The first one is not compatible with VS2017 and the second one can't be opened by 2015. I would say, for now we go for the

[2017-01-05 19:29] DGuidi commented on #110
xproj/project.json is dead, so to me make more sense to use newer cproj, and maybe make two solutions (one for VS2017 with all projects, and one for 2015 with only compatible projects)

[2017-01-08 08:21] DGuidi commented on #145
can you post the a sample geojson? or even better a minimal sample (data+code) that fails? service looks down, and btw a sample to test can be useful.

[2017-01-09 16:14] PaulvonGitHub commented on #145
[code]

[World_AL6.GeoJson.zip](https://github.com/NetTopologySuite/NetTopologySuite/files/693929/World_AL6.GeoJson.zip)

[2017-01-09 16:30] mtinnes commented on #118
Looking for the ability to read Shapefile (.shp) in .NET core. Would this enhancement cover this?

[2017-01-09 16:48] DGuidi commented on #118
duplicate of #110

[2017-01-09 16:49] #118 closed

[2017-01-10 09:48] ohagenes opened #146 "Crash in Operation\Polygonize\PolygonizeGraph.cs"
The method public void AddEdge(ILineString line) crashes with "System.IndexOutOfRangeException: Index was outside the bounds of the array" when fed short segments that lie too close since

     Coordinate[] linePts = CoordinateArrays.RemoveRepeatedPoints(line.Coordinates);

reduces to a single point. Shall I precondition the input data to avoid it or is it serious enough to make it into the suite?

[2017-01-13 09:42] xivk opened #147 "GPX IO"
Would it be something we could implement, a GPX reader/writer? User @HarelM is asking this in this OsmSharp issue:

https://github.com/OsmSharp/core/issues/21

I removed the GPX IO code from OsmSharp because I believe this belongs more in a library like NTS correct? Or do we full depend on what JTS has?

Can we alternatively do something seperate like a NetTopologySuite.IO.Gpx project that lives i

[2017-01-13 13:37] FObermaier commented on #147
I'd appreciate GPX IO code.
We have a lot of supporting IO code that JTS does not have like e.g. reading postgis or spatialite geometry.

[2017-01-13 20:59] HarelM commented on #147
I have used the following code and have no issues reading and writing GPX version 1.1:
https://github.com/IsraelHikingMap/Site/blob/master/IsraelHiking.API/Gpx/GpxTypes.xsd
Generated code from the above xsd can be found here:
https://github.com/IsraelHikingMap/Site/blob/master/IsraelHiking.API/Gpx/GpxTypes.cs
Using regular ```XmlSerializer``` and the above code does a perfect and easy job as far a

[2017-01-14 10:00] DGuidi commented on #146
looks a duplicate of #87
code already fixed in master

[2017-01-14 10:00] #146 closed

[2017-01-14 11:25] ohagenes commented on #146
Thank you for the swift action.

[2017-01-15 09:55] DGuidi commented on #145
tets doesn't fail using master

[2017-01-15 09:55] #145 closed

[2017-01-15 21:59] DGuidi commented on #144
I'm unable to verify this, and I suspect isn't related with NTS code.
You write

But I don't see any NTS code in the stack trace...

[2017-01-15 22:02] DGuidi commented on #138
ConcaveHull is experimental code, so you shouldn't consider production ready.
Sorry.

[2017-01-15 22:04] #138 closed

[2017-01-15 22:04] HarelM commented on #144
Well, it doesn't happen if I don't use FeatureCollection and the NTS converters...
Is there a way I can help for you to be able to reproduce?

[2017-01-15 22:19] DGuidi commented on #35
after a bit of investigation, NTS looks aligned with r1087 a7831571ca9afd340d0d05ada07f084ab9657ef9

[2017-01-15 22:24] DGuidi commented on #144
basically I need a unittest and/or a sample code that fails/crashes.

[2017-01-15 22:33] HarelM commented on #144
I'll see what I can do.

[2017-01-16 09:12] PaulvonGitHub commented on #145
Thanks for the test. I'll check out the master and try again.

[2017-01-16 13:20] DGuidi commented on #35
added r1088 and r1099 with 92594fb977c69af36cd0b2310a174e615e50d38f

[2017-01-16 13:29] DGuidi commented on #35
next todo is [r1100](https://sourceforge.net/p/jts-topo-suite/code/1100)

[2017-01-16 22:10] HarelM commented on #144
Please let me know if the following file is good enough:
It's a very simple web API project with only one controller
When running this surf to:
<localhost...>/api/values
Send a ```POST``` message with the following feature collection as body:
```{}```
This should work.
when using the following feature collection it fails:
[code]
[NTS-Bug.zip](https://github.com/NetTopologySuite/NetTopologySuite/fi

[2017-01-17 10:09] DGuidi commented on #144
I've take a look at the error and (my2cents) it's totally related to webapi modelbinder.

two suggestions:

1. don't use business models as viewmodels, but use dto instead.
2. this code works, and to me looks perfectly fine.
`
public async void Post()
        {
            // probably you're able to read content also without async/await...
            string json = await this.Request.Content.ReadA

[2017-01-17 10:09] #144 closed

[2017-01-17 10:28] PaulvonGitHub commented on #145
Pulled the master and it worked. Would be nice if nuget package gets updated. Thanks again.

[2017-01-17 10:59] HarelM commented on #144
As posted above, I have a more elegant workaround, IMO 😊.
I want to use feature collection this is my view model...
When using GeoJson.Net the dto is the class as opposed to this implementation.
Unfortunately this library does not provide dto for geojson classes...
Thanks for your help and fast response!

[2017-01-19 19:23] xivk commented on #110
So I was able to use the exact same approach as we did for the PCL projects. I would also say, at the end of 2017, we should clean up the code and the structure.

The new netstandard project should be able to replace all the others. To finish this we first need to tackle this issue:

https://github.com/NetTopologySuite/GeoAPI/issues/20

[2017-01-20 07:36] DGuidi commented on #110
as seen in GeoApi#20, I'm unable to provide support.
I'd like to maintain VS2015 support, at least.

[2017-01-23 07:50] FObermaier commented on #147
You are right, as long as there are only framework dependencies we can put it all together in one project (NetTopologySuite.IO), as soon as we need to depend on third party libraries it has to be seperate.

[2017-01-26 11:13] manuschiller opened #148 "Mapping voronoi cells to their sites"
I am creating a voronoi diagram using [NetTopologySuite's Voronoi Diagram Builder][1].

Everything works as expected, but the cell information (polygon coords, area and so on) is not mapped to my sites (`Coords`) anymore.

I need to store the information for each site in a Database like this:

    point     | voroni_cell            | area
    Coords[x] | VoronoiCell.ToString() | VoronoiCell.Area

[2017-01-26 11:15] manuschiller commented on #148
Here is a hacky solution to manually map the cells to their original sites - but can this done more elegant?

[code]

[2017-01-26 14:38] FObermaier commented on #148
Have you checked `VoronoiCell.UserData`? If I'm not mistaken, it gives you the coordinate it belongs to.

[2017-01-31 12:26] FObermaier commented on #143
https://github.com/NetTopologySuite/NetTopologySuite/releases/tag/v1.14

[2017-01-31 12:26] #143 closed

[2017-01-31 12:52] #148 closed

[2017-01-31 13:21] #126 closed

[2017-02-01 15:19] FObermaier commented on #110
fa3e0191c80f7ccdd46612055aed34c831d580bf builds on my machine despite travis claming sth else.
Could you please verify.
[code]

[2017-02-01 22:00] HarelM commented on #110
Kudos! Let me know when there's a NuGet package available, I would also like this package to contain the gpx xsd generated code if possible (related to other issue)

[2017-02-02 13:11] manuschiller opened #149 "Polygon / rectangle intersection returns empty polygon"
I am trying to get the intersection between a rectangle and a polygon.

![illustration](https://cloud.githubusercontent.com/assets/17978263/22550671/7669b3f8-e951-11e6-8305-489caa44d5bb.png)

However, the result is always `{ POLYGON EMPTY }`
What am I doing wrong?

[code]

[2017-02-03 14:38] koffmoff opened #150 "GeometryFactory.BuildGeometry creates unnecessary GeometryCollection"
Feeding a single MultiPolygon into GeometryFactory.BuildGeometry returns the same MultiPolygon wrapped in an unnecessary GeometryCollection. Would be more natural to return the input unchanged.

Example:

[code]

[2017-02-03 15:23] FObermaier commented on #149
The given polygon and bounding box don't intersect:
![tmp99d5](https://cloud.githubusercontent.com/assets/2065346/22596753/1558bbf4-ea2d-11e6-922a-e8b26ead7e5f.png)

[2017-02-03 15:23] #149 closed

[2017-02-04 13:43] DGuidi commented on #150
this is a design decision, documented in c# code comments too:
"
Note that this method does not "flatten" Geometries in the input, and hence if any MultiGeometries are contained in the input a GeometryCollection containing them will be returned.
"
your suggestion seems legit, but this is a JTS (and then NTS) implementation, so I won't fix this behavior.
thanks anyway for the suggestion.

[2017-02-04 13:43] #150 closed

[2017-02-08 08:44] hallsbyra opened #151 "TopologyException when generating a VoronoiDiagram"
To reproduce, use the following input  to VoronoiDiagramBuilder:

`POLYGON ((14.7119 201.6703, 74.2154 201.6703, 74.2154 166.6391, 14.7119 166.6391, 14.7119 201.6703))`

The error message:

I realize this is a problem in the original Java code base, so I filed a [ticket](https://github.com/locationtech/jts/issues/74) there too.  Posting here in NTS in case anyone here can shed some light on the is

[2017-02-10 12:48] lawrencegripper opened #152 "GeoJson Reader is depenant on the ordering of the fields in the GeoJson"
https://github.com/NetTopologySuite/NetTopologySuite/blob/d6a27c2995ecc2c51286cc620463b492bd6f6a4b/NetTopologySuite.IO/NetTopologySuite.IO.GeoJSON/Converters/FeatureConverter.cs#L87

If you have a valid geojson object like this, which doesn't list the type property first, the reader will fail:

[code]

Would you to happy to accept a pull request from me to fix this up?

[2017-02-10 13:14] DGuidi commented on #152
yep, but try first if error happens also with current (master) version

[2017-02-10 16:11] lawrencegripper commented on #152
Ah thank you, it has indeed already been fixed!

[2017-02-10 16:32] DGuidi commented on #152
so I can close this issue, right?

[2017-02-10 16:32] #152 closed

[2017-02-13 09:54] FObermaier commented on #110
There is a NuGet package for you to try:
https://www.nuget.org/packages/NetTopologySuite/1.15.0-pre1

[2017-02-13 09:57] FObermaier commented on #110
Steps still to do:
- NetTopologySuite.IO for `netStandard1.x`
- Clean up unnecessary sub projects and folders.

[2017-02-14 21:53] HarelM opened #153 "Crosses and intersection"
Hi, I'm guessing the following issue is related to decimal point issues but I just want to make sure I'm not doing anything wrong:
I have the following test which fails.
Basically what it does is tries to find the projection of a point on a line and then make sure that combining this point to create a new line wont cross the original line.
This fails... :-(
In order to workaround it I use the ```i

[2017-02-15 09:10] FObermaier commented on #153
You are right, the failing assertions are due to limitations of floating point arithmatic.
You have two choices:
1. Use a precisionmodel to make the `coordinateToAdd` and `line.Intersection(closestLine).Coordinate` precise and compare those points afterwards.
2. Add `coordinateToAdd` to both `line` and `closestLine`

[2017-02-15 09:36] HarelM commented on #153
Thanks for the quick response!
How would I go about using ```crosses``` with ```PrecisionModel```? do I need to convert all the coordinates using the precision model on ```closestLine``` and then test crosses?
note that all the coordinates on ```closestLine`` are integer values so I'm not sure I understand how this will work...?

[2017-02-15 10:33] FObermaier commented on #153
But the intersection point is not an integer value. The `Crosses` predicate will not work unless you add `coordinateToAdd` to the `closestLine` as well.
[See example code](https://github.com/NetTopologySuite/NetTopologySuite/commit/e0b99def2af3637e19c961dd8fab4923efc79604).

[2017-02-15 10:33] #153 closed

[2017-02-15 12:00] FObermaier commented on #147
@HarelM, I did incorporate your GPX IO code into NetTopologySuite.IO project.
I did have to make some modification so it would work with PCL, could you please review that.
Perhaps there need to be more modifcations for it to work with netStandard.

[2017-02-15 15:24] FObermaier commented on #130
How about this:
[code]

[2017-02-16 20:43] HarelM commented on #130
Not sure why the default behavior should be to throw when adding, but I don't want to be nitpicking.
The MergeWith look good :-).
The constructor with object array is not very informative in terms of what went wrong (exception raised).
```obejct[]``` in terms of API doesn't help you understand when you write the code what should be sent to this constructor, Why not use ```IEnumerable<KeyValuePair<

[2017-02-16 20:50] HarelM commented on #147
Would be happy to!
Can you please point me to the right branch/folder?

[2017-02-17 08:03] FObermaier commented on #147
It is in the `Refactor_for_netStandard` branch.
The folder is `NetTopologySuite.IO/NetTopologySuite.IO/Gpx`

[2017-02-17 13:17] HarelM commented on #147
While I think that for my personal use the ```ToBytes``` and ```ToGpx``` methods are extremely useful this might not be the right approach for this framework (note that I have written them and they are not generated from the xsd).
Maybe a more consistent approach will be to write two classes called ```GpxWriter``` and ```GpxReader``` that receive a stream, what do you think?
I currently have a lot

[2017-02-17 16:28] HarelM commented on #153
I'm confused. In the case you added to the tests the only way to make crosses work correctly is to add the relevant point to the line? that's the same as saying that crosses doesn't work correctly I think, or I'm misunderstanding something...
I'll describe my use-case and maybe you can explain what I did wrong:
What I want to do is to prolong a line string along a GPS trace.
I have a point (let's

[2017-02-20 07:01] FObermaier commented on #153
What do you intend to do with the remaining LineString?

[2017-02-20 08:51] HarelM commented on #153
Not sure which line you are referring to, the GPS trace will be presented to the user so he'll be able to add it to OSM database.
The rest of the existing lines are readonly and should not be manipulated since they are used to test against other GPS lines.
Also consider this case for crossing test:
![image](https://cloud.githubusercontent.com/assets/3269297/23117768/ea9c5e18-f759-11e6-9941-7530056

[2017-02-20 17:04] FObermaier commented on #153
I was just wondering if you do sth. with the remaining GPS trace, or not. Seems not.
In that case you can compute the intersection points of all the GPS trace with the present (fix) geometries (have a look at `PreparedGeometry`).
When you then use `LengthIndexedLine` and project those intersection points on it, the point with the least projection index is the one you are looking for.

I have found

[2017-02-23 23:16] HarelM commented on #153
Please let me know if and when this gets into NTS.

[2017-02-24 08:29] FObermaier commented on #142
@HarelM, I'm trying to prepare your code for JTS. Could you provide some settings along with  input and expected output?

[2017-02-24 11:33] HarelM commented on #142
Sure, can you elaborate what exactly you need and how to provide it?
Also note that I think the first and last point should remain similarly to D-P.
Which code are you planning to use? the one here or the one I referenced to in my github project?

[2017-02-24 13:07] FObermaier commented on #142
The one in your github project.
I'd like to know constructor arguments, property settings and the "expected" result.

[2017-02-24 15:17] HarelM commented on #142
The following test class describe the main usages:
I published some corrections lately including some comments to describe the algorithm itself.
https://github.com/IsraelHikingMap/Site/blob/master/Tests/IsraelHiking.API.Tests/Services/RadialDistanceByAngleSimplifierTests.cs
Do you need anything besides that?

[2017-02-24 17:34] peetw commented on #94
I am also facing this problem - our project uses the lastest stable NuGet packages (1.14), but is affected by issue #100, which was fixed after the release. I see that there is a pre-release available (mainly due to the move to support .NET Standard), is there a plan to release a stable version in the near future?

[2017-02-25 11:07] HarelM commented on #110
I think the NuGet package is not configured correctly: When trying to add the pre release package to a .Net Core project the following error is written to the output console:
Package NetTopologySuite 1.15.0-pre1 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package NetTopologySuite 1.15.0-pre1 supports:
  - net20 (.NETFramework,Version=v2.0)
  - net35-client (.NETFramework,Versi

[2017-02-27 22:24] HarelM commented on #110
@FObermaier any updates on this? Sorry for nagging but this is now the main library that's keeping me from finishing my migration...

[2017-02-28 09:32] xivk opened #154 "Shapefile writer performance improvements?"
I'm working on a tool for a client of mine converting OSM data into a shapefile that can easily consumed for routing and analytics.

Basically I have 2 steps:

1. Building a routerdb with [Itinero](https://github.com/itinero/routing).
2. Writing the result as a shapefile.

Now Itinero can handle the entire world, the planet OSM file, and build a database for the entire world. I don't think it's ev

[2017-02-28 09:44] DGuidi commented on #154
My2Cents: shapefile is a binary format with a well defined standard, so size of file is directly related to size of data. maybe you can (I think):

1. simplify your geometries
2. create your own "ShapefileZipWriter" that directly generates a zipped archive of a shapefile (if possible)

[2017-02-28 11:49] airbreather commented on #154
Oh... does [BigEndianBinaryWriter](https://github.com/NetTopologySuite/NetTopologySuite/blob/817b88ba4681437d3b5bd0561994e5b42d2fb831/NetTopologySuite.IO/NetTopologySuite.IO.GeoTools/BigEndianBinaryWriter.cs) need the same performance improvement I did in c6d2ccd?  I see some calls to that class's naive WriteIntBE method.  Maybe the [corresponding reader](https://github.com/NetTopologySuite/NetTop

[2017-02-28 14:28] airbreather commented on #154
If that doesn't help, could you please provide sample code and maybe a sample serialized RouterDb file so we can look at the same thing?  I've got an old serialized routerdb file, but it dates back to the times when Itinero was part of OsmSharp, and I'm guessing you've changed stuff since then, and I really don't want to dedicate CPU time to rerun odp assuming it's still as slow as it was back the

[2017-02-28 14:59] xivk commented on #154
I'll try and build a sample application and do some profiling too, stay tuned. :-)

[2017-03-02 06:41] FObermaier commented on #110
@HarelM could you please retry with `-pre2`?

[2017-03-02 10:58] HarelM commented on #110
Seem to be able to get package from NuGet, Thanks! I hope everything from here will go smoothly.

[2017-03-03 07:35] HarelM commented on #110
I think there's still room for improvement in the configuration:
This is how it looks in Vs 2017 - GeoAPI dependency is not present:
![image](https://cloud.githubusercontent.com/assets/3269297/23542141/34275cac-fff4-11e6-8707-67e4851bbd8b.png)
Note that when I added the NTS Nuget package GeoAPI was not downloaded.
Here's a screenshot of another package where the dependencies are configured correct

[2017-03-04 02:51] jamesra opened #155 "GeometryCollection.Count value does not match number of elements returned by iterating GeometryCollection.GetEnumerator()"
Hello, I was debugging today and traced my troubles back to a behavior different than every other library I've used in C#.

In short, enumerating a GeometryCollection creates an enumerator which will include the GeometryCollection object itself.  The GeometryCollection's Count property returns only the number of geometries in the collection.

At a minimum the count of the collection should return

[2017-03-04 08:33] DGuidi commented on #155
what you're describing it's the default (and documented) jts behavior, so I wan't fix this.
Anyway, you're correctly pointed me to **GeometryCollection's Count** property, a later addiction from MonoGIS old project but part of **IGeometryCollection** interface.
Makes sense to me to modify "Count" to return  "NumGeometries + 1", but this looks a breaking change...

Yey, you're right: more intuitive

[2017-03-07 07:25] FObermaier commented on #94
You can consider the pre-release packages as stable, I'm only cleaning up the repositories and bring everything in line.
We won't be releasing a non-prerelease version until JTS 1.15 is out.

[2017-03-07 11:46] jany-tenaj opened #156 "WKTWriter doesn't create the expected result"
I've been trying to create WKT strings from Linestrings with the help of WKTWriter and got the following unexpected results. It would be nice if someone could tell me whether WKTWriter was supposed to work this way.

1. The comment from WKTWriter.Write indicates that the function returns a Geometry Tagged Text string  according to the [OpenGIS Simple Features Specification](http://www.opengeospati

[2017-03-11 14:06] HarelM commented on #110
Net topology suite IO does not target net standards :-(
https://www.nuget.org/packages/NetTopologySuite.IO/1.15.0-pre3

[2017-03-11 19:52] NimbleKelly opened #157 "ShapefileWriter incorrectly writes header to the end of file on Close()"
The Close() method in ShapefileWriter incorrectly seeks to the end of the file before writing the header.  For a newly generated Shapefile, this results in a zero being read for the file length because it is never updated.

[2017-03-11 20:12] NimbleKelly opened #159 "Newly created Shapefiles have invalid Last Update Date in header"
The LastUpdateDate property for DbaseFileHeader does not have a setter and no way to initialize it other than reading it from an existing file.  As a result, it is initialized with a default date of 01/01/0001.  When it is written out in the header, 1900 is subtracted from it.  This causes an invalid year, month, and day to be written and no way to specify any other value.

[2017-03-12 21:50] HarelM commented on #110
Neither does IO.GeoJson:
https://www.nuget.org/packages/NetTopologySuite.IO.GeoJSON/1.15.0-pre3
I have managed to solve all my compilation issues and this is currently preventing my site to work correctly since I relay on the GeoJson serialization and deserialization.
Also, Why does IO.GeoJson has a package of its own? shouldn't it be a part of NetTopologySuite.IO like other formats?

[2017-03-13 08:21] FObermaier commented on #110
It has a seperate package because it depends on a non-core library.

[2017-03-13 08:42] HarelM commented on #110
This sounds alarming. Does this mean I won't be able to use IO.GeoJson with NTS in .Net Core project?
Current serialization of GeoJson feature is done incorrectly (coordinates are written as an object with { x: ... y: ... z: ...} and I assumed the IO.GeoJson package would have fix this.

[2017-03-13 13:04] FObermaier commented on #110
No, it does mean it has an external dependency and that is why it has a seperate package.
Imagine someone wanting to use just the PostGisReader/-Writer of the NetTopologySuite.IO package. If we include the NetTopologySuite.IO.GeoJSON library in the package we'd have to include NewtonSoft.Json as well.
Aditionally we can issue seperate packages for different versions of NewtonSoft.Json.

[2017-03-13 13:12] HarelM commented on #110
I see your point, although in this specific case NewtonSoft.Json doesn't feel like a real issue since everything you do nowadays uses JSON, IMO (I don't understand why Microsoft doesn't just buy them and make it a part of the core framework, but that's just between us:-)).
In any case, I would really like to know how I can assist in order to get those packages to NuGet so I can make sure everythin

[2017-03-15 14:42] peetw opened #161 "Unable to update NetTopologySuite.IO.GeoJSON to pre-release version"
Hi, I'd like to upgrade to the `1.15.0-pre3` version, but it looks like the dependencies have been incorrectly specified as I get the following error:

    PM> Update-Package NetTopologySuite.IO.GeoJSON -Version 1.15.0-pre3

    Attempting to gather dependency information for multiple packages with respect to project 'ProjName', targeting '.NETFramework,Version=v4.6.2'
    Gathering dependency inf

[2017-03-16 22:28] HarelM commented on #110
@FObermaier I tried to locally build NTS but failed like a noob. :-(
I want to try and compile IO, IO.GeoJson and Proj4Net locally for netstandard 1.1 or 1.0 (and hopefully use them in my site so that I'll know everything is up and running).
Unfortunately I couldn't find csproj for VS 2017 nor xproj for VS 2015. I tried to do it using command line with ```dotnet build NetTopologySuite.sln ...``` b

[2017-03-17 08:15] FObermaier commented on #110
The branch is correct.
For building yourself, please see this newly created [wiki page](https://github.com/NetTopologySuite/NetTopologySuite/wiki/Build)

[2017-03-17 09:02] HarelM commented on #110
Thank! I'll try it tomorrow or tonight. Does this cover proj4net as well?

[2017-03-17 13:03] FObermaier commented on #110
No, I'll see if I can get this done quickly.

[2017-03-17 13:35] HarelM commented on #110
Doesn't seem like it's working, might be something wrong with what I did:
Do I need to install something related to team city? This is the same error I had when running it using only the dotnet command line... :-/
[code]

[2017-03-17 14:13] FObermaier commented on #110
On my machine it works fine:
[code]

Did you change or remove `global.json`? I'm asking because the version information in your log differs from mine.

[2017-03-17 14:25] HarelM commented on #110
I dont remember seeing this file. I'll try to download a fresh version later on. Can you attach it just in case?
Where do you run the msbuild command from, I.e. Main folder or NTS subfolder?

[2017-03-17 14:34] HarelM commented on #110
I have installed VS 2017 recently, which might help causing this issue. I'm running the command above from the 2015 developer console cmd window though...

[2017-03-17 21:51] FObermaier commented on #161
I'd prefer `= 9.0.1`

[2017-03-18 09:03] HarelM commented on #110
Ok, Managed to make it work.
It seems that the issue was indeed in the global.json file since I didn't have the matching dotnet version installed. I changed the global.json file to match my local dotnet version and the compilation succeeded.
[code]
I think it's worth mentioning it in the wiki page, I can add it if you want.
Unfortunately this only compiles NTS core to netstandard folder.
I'll see

[2017-03-19 00:19] HarelM opened #162 "Serialization issue with GeoJson Point"
The following test throws exceptions:
[code]
The following is the exception:
[code]

This is the code I previously used to change feature collection to string and then to bytes...
Not sure If I should do something else since this is .Net Core...?
Happens on net_refactoring branch, haven't tested stable version.

[2017-03-20 09:57] peetw commented on #161
Whilst I'm changing the nuspec file, should I also update the NTS dependency to be `>= $version$` rather than `= $version$`, to match the nuspec files for the other NTS.IO.* packages?

[2017-03-20 10:00] peetw commented on #161
I also note that the version of Newtonsoft.Json currently used by the projects in the NTS solution is `7.0.1` - is there any reason it can't be updated to `9.0.1`?

[2017-03-20 11:34] HarelM commented on #110
My site is up and running using a locally created NuGet packages for IO and IO.GeoJson!!!
I can confirm that the functionality that I'm using is done correctly except for the issue I opened: #162
I'll see if I can solve it tonight, should be a simple thing to fix I believe.
I also recommend to migrate to VS 2017 since the xproj and json definitions are now deprecated...
Keep up the good work!

[2017-03-20 22:24] HarelM commented on #162
I now understand what is causing this error:
![image](https://cloud.githubusercontent.com/assets/3269297/24124352/f5f50f20-0dcb-11e7-89f0-7423394ce1fa.png)
```GeoJsonSerializer.Create()``` is calling the ```JsonSerializer.Create()``` which is what's causing the above bug...
A better message here would've avoided this issue...

[2017-03-21 03:20] sendreams opened #163 "create polygon by coordinate with hole"
coordinates:
116.404595, 36.534432;116.406205, 36.577365;116.41287, 36.585614;116.41884, 36.607899;116.417584, 36.620766;116.410142, 36.630537;116.417533, 36.66282;116.413105, 36.670589;116.413657, 36.712957;116.405428, 36.715675;116.391886, 36.731949;116.411816, 36.757145;116.405951, 36.763872;116.406696, 36.778644;116.393349, 36.801346;116.420364, 36.861317;116.424712, 36.867912;116.433941, 36.8

[2017-03-21 06:04] DGuidi commented on #163
you can use IGeometryFactory.CreatePolygon(ILinearRing shell, ILinearRing[] holes)

[2017-03-21 06:06] DGuidi commented on #162
what message you're suggesting?

[2017-03-21 06:06] sendreams commented on #163
@DGuidi i know this api, but the real problem is how to finding the hole from coordinates.

[2017-03-21 06:07] #155 closed

[2017-03-21 06:08] DGuidi commented on #155
or maybe a better xml doc that explain what count returns

[2017-03-21 06:10] sendreams commented on #163
the third party api just giving me some coordinates, i don't know which of them will contains hole. so i need to finding the hole before createing Polygon. thanks.

[2017-03-21 06:14] DGuidi commented on #163
have you tried with [PolygonBuilder](https://goo.gl/r73LPz)?

[2017-03-21 06:17] HarelM commented on #162
Use GeojsonSerializer.CreateDefault() or other overloads which receive parameters.
I don't know... There should be a way to prevent future developers from using the incorrect static method...

[2017-03-21 06:19] sendreams commented on #163
not yet, i don't familiar with this class, i will try late. can you show me some code snippet?

[2017-03-21 06:19] sendreams commented on #163
not yet, i don't familiar with this class, i will try late. can you show me some code snippet?

[2017-03-22 08:06] sendreams commented on #163
i have found the hole which just beginning at "116.404595, 36.534432,115.506625, 35.9227" which has 2 coordinate.

[2017-03-22 09:08] DGuidi commented on #163
hole should be a linearring, so at least with 4 coordinates (first and last are the same)

[2017-03-22 09:08] #163 closed

[2017-03-22 09:10] DGuidi commented on #162
so you suggesto to add a deprecate attribute to GeoJsonSerializer.Create() ?

[2017-03-22 10:31] xivk commented on #110
@FObermaier Anything I can do to help with netstandard stuff? Willing to help to enable support for IO.GeoJson and shapefile io.

I noticed a separate branch?

[2017-03-22 10:45] HarelM commented on #110
If you have access to update the NuGet packages to support .net core it'll be great so I can remove the temporary Nupkg files from my repo.

[2017-03-22 22:09] HarelM commented on #162
I don't think you can since this is a static method derived from the parent class, this is what confused me... :-/

[2017-03-24 21:14] HarelM commented on #110
Any updates on this?
I can't use my CI appveyor build agent since the nuget packages are local and I really don't want to start playing around with its configurations in order to make it work temporary...

[2017-03-28 09:01] #161 closed

[2017-04-03 22:10] HarelM commented on #110
@FObermaier @DGuidi, ping?

[2017-04-19 12:58] henriksen opened #165 "Option to skip node validation check when doing operations like intersect?"
I'm doing a series of intersections between polygons and, frankly, it's taking way too long. So I did a bit of profiling and it turns out that `.Intersection()` is responsible for about half the time. But during `Intersection` there's a `CheckValid` call that alone is about a third of the total time. Now, the polygons I'm using are static and/or known beforehand to be valid. Is there a way to disa

[2017-04-19 13:21] FObermaier commented on #165
Try setting `OverlayOp.NodingValidatorDisabled = true;`

[2017-04-19 16:54] airbreather commented on #165
Be careful when doing what @FObermaier suggested: this may cause the `SnapIfNeededOverlayOp` to not fall back to a `SnapOverlayOp` in cases where it otherwise would, which means the resulting geometry might have very subtle problems with it that could have otherwise been corrected for you automatically.

[2017-04-23 21:06] HarelM commented on #110
:-(( I really want to remove the locally created NuGet packages from my site, any updates on this?

[2017-04-24 15:06] pedwik opened #166 "Exception when checking if a point is within a multipolygon"
This test for checking whether a point is within a multi polygon raises an exception "Additional information: side location conflict [ (869265.15260738449, 7384168.8403524822, NaN) ]"
[code]
This is how it looks in QGIS:
![image](https://cloud.githubusercontent.com/assets/12912691/25343685/062b41fc-2910-11e7-9e82-5a685b3b0f7c.png)

[2017-04-25 05:32] pedwik commented on #166
For some reason the polygon is considered invalid.

[2017-04-25 05:53] pedwik commented on #166
Turns out the right part of the figure has an invalid hole.

[2017-04-25 05:53] #166 closed

[2017-04-25 18:15] pedwik opened #167 "Error when clipping feature"
Version 1.14 and 1.15 pre 3

The purpose here is to remove the part from the target feature which is overlapped by the buffer feature.
The target feature (green) and buffer feature (blue) look like this:
![image](https://cloud.githubusercontent.com/assets/12912691/25400537/37d8c1e6-29f3-11e7-9424-ea16f538f9c8.png)

The result is this, please notice the line "hanging":
![image](https://cloud.github

[2017-04-26 07:17] FObermaier commented on #167
Why do you compute the intersection of `targetMultiPolygon` and `bufferBolygon` first? Just building the difference between them (`targetMultiPolygon.Difference(bufferPolygon)`) yields a result without the spike.
These "spike" issues may arise when *not* working with fixed precision model. If you use `GeometryPrecisionReducer` on the input geometries and build the difference for those precised geo

[2017-04-26 07:57] pedwik commented on #167
The reason i used the intersection was that in the real case, the buffer feature is actually VERY large, and I experienced it was more time consuming to make the Difference-call using the whole buffer feature than only the intersection. And I also use the intersection to create a new feature (it becomes a nature conservation patch in a forest planning problem).

[2017-04-26 14:16] pedwik commented on #167
Felix, if you use a GeometryFactor with an associated fixed precision model to create a geometry, do you still need to invoke a GeometryPrecisionReducer on the result?

[2017-04-26 15:41] FObermaier commented on #167
Yes

[2017-04-28 12:07] pedwik commented on #167
Do you really mean that although I have created a geometry with a geometry factory that has a precision model, I must call the reducer? Doesn't the geometry factory take the precision model settings into account when creating a geometry?

[code]

[2017-04-28 13:38] FObermaier commented on #167
If you are sure all your x- and y-ordinates are as precise as the precision model you don't have to do it.
Note:
* If you create a geometry using a factory, the underlying coordinates are not made precise, it is assumed they are already precise.
* If you change a geometry's precision model, e.g. by assigning a different factory, the underlying coordinates are left unchanged.
* If you read a geomet

[2017-04-29 07:54] pedwik commented on #167
Thank you for clarifying!

[2017-05-01 18:33] atrauzzi commented on #110
Having issues installing certain NTS packages (geojson).  Any word on when they'll be fixed?

[2017-05-01 20:35] HarelM commented on #110
I have locally compiled NTS and NTS.GeoJson.
Packages can be found here:
https://github.com/IsraelHikingMap/Site/tree/master/TempLocalNugets
Instructions on adding them to local NuGet cache can  be found here:
https://github.com/IsraelHikingMap/Site#setting-up-this-project
I really wish someone would close this issue already...

[2017-05-08 21:39] alejandropadillav1 opened #168 "NetTopologySuites Linear Referencing Length Indexed Line"
Hi to all.

We are using the NTS in C#, i'm working about the Linear Referencing, but I have one guestion.

In this LinearReferencing is possible to set the StartIndex?. for example.

The line's distance is 200, the start Index should start from 20 and the EndIndex should be 220. it is possible?, if yes, could you help me?.

I have created all the Coordinates point, then I create the Line using Li

[2017-05-09 16:16] thinking-aloud commented on #110
When I try to use the 1.15.0-pre3 Build to my .NET Core project I get:
`ERROR: One or more packages are incompatible with .NETCoreApp,Version=v1.1.`

@HarelM I failed to add your package. I just have the command line, since Rider does not support other NuGet sources jet and I will not install Windows.
When I tried to add your package, the download URL was derived from the URL of the .nupkg file, w

[2017-05-09 16:46] HarelM commented on #110
My version does not differ in functionality it's just compiled correctly as opposed to the current package that exists on NuGet.
I'm not sure how Rider works, but for my CI I created a NuGet packages server using AppVeyor. Since it is private I do not wish to share the username and password but you can do the same assuming you have an appveyor account (although from your comment it sounds that it

[2017-05-09 16:51] airbreather commented on #110
The VS2015 requirement is a pretty big hurdle for doing this easily... the tooling for .NETCore / .NETStandard stuff as it existed in VS2015 was only at a "preview" stage and was (IMO) a bit of a nightmare.

VS2017 tooling is so much nicer to work with, and (with a little bit of grief w/ XML hand-editing) it's even a breeze to multi-target.

@DGuidi was there a specific reason you wanted to keep V

[2017-05-09 17:09] DGuidi commented on #110
if vs2015 support is a blocking issue for netcore, we can move ti vs2017

Il mar 9 mag 2017, 18:51 airbreather <notifications@github.com> ha scritto:

--
Diego Guidi

[2017-05-10 12:38] airbreather opened #169 ".NET 2.0 and 3.5 Builds Are Broken"
Steps to reproduce:
1. Clone latest `master` (c65a7ba at the time of writing).
2. `msbuild TeamCity.targets /t:BuildRelease20`

Expected: .NET 2.0 build succeeds.
Actual: failure, details look something like:

      Index\KdTree\KdTreeExtensions.cs(16,52): error CS1110: Cannot define a new extension method because the compiler required type 'System.Runtime.CompilerServices.ExtensionAttribute' cann

[2017-05-10 12:40] airbreather commented on #169
I came across this when working on #110... I spent a little too long trying to figure out why a unified multi-targeted single NetTopologySuite project was failing on the `net20` target framework.

[2017-05-10 12:56] DGuidi commented on #169
maybe referenced Newtonsoft.Json dll doesn't targets .net20?

[2017-05-10 13:26] airbreather commented on #169
9.0.1 does target .NET 2.0.  I'm guessing the problem has to do with the HintPath changes from ee51f24.

It used to be:

    <HintPath>..\..\packages\Newtonsoft.Json.7.0.1\lib\$(JSON)\Newtonsoft.Json.dll</HintPath>

Now it's:

    <HintPath>..\..\packages\Newtonsoft.Json.9.0.1\lib\net40\Newtonsoft.Json.dll</HintPath>

Maybe the fix would be to just bring back `$(JSON)` in there?

[2017-05-10 14:21] FObermaier commented on #169
If you want to experiment/work on #110, @airbreather , there has a lot of work been done in the branch `Refactor_for_NETStandard`

Nonetheless, bringing back `$(JSON)` in the hint path seems to be the right fix for `master`.

[2017-05-10 14:42] airbreather commented on #169
@FObermaier: I did see that, but noticed that it uses the old preview tooling's `project.json` style, so the majority of the changes would have to be revisited anyway for it to work nicely with newer versions of Visual Studio starting with VS2017.

[2017-05-14 17:03] #169 closed

[2017-05-17 16:51] HarelM commented on #110
@airbreather, @DGuidi  any progress on this? when can we expect a nuget package for both NTS and NTS geoJson?

[2017-05-19 00:27] airbreather commented on #110
@HarelM I've poked around at it in [two](https://github.com/airbreather/NetTopologySuite/tree/refactoring/netstandard-alt) different [branches](https://github.com/airbreather/NetTopologySuite/tree/refactoring/vs2017)... the first one was just going from scratch, and the second was building off of @FObermaier's original VS2015 stab at it.

I'm mainly just poking around at it over the weekends, so i

[2017-05-19 09:27] #167 closed

[2017-05-21 14:49] airbreather commented on #110
Anyone have a way to properly test GeoAPI on `net35-cf`?

I went ahead and started doing GeoAPI after `1.7.5-pre3` disappeared from NuGet, and I've got everything building locally, but I don't have a way to verify that I didn't introduce any subtle problems.

e.g., `GeoAPI.Geometries.ICoordinateBuffer` [has](https://github.com/NetTopologySuite/GeoAPI/blob/c4742d0ea9a539f10d15e579f1967464322e1766/G

[2017-05-21 23:25] airbreather commented on #110
I just built new variants of the GeoAPI, NetTopologySuite, and NetTopologySuite.IO.GeoJSON packages and dropped them here:
https://www.dropbox.com/sh/y834fc6gs32rrb3/AAA2SpG7Y5fwyZGqNmoGOoA-a?dl=0

Warning: I haven't gotten all the coded tests to run in Visual Studio yet, so there might be a little bit of regression in here... I also just generally need to tidy up this stuff so it's in a better st

[2017-05-22 10:59] FObermaier commented on #110
@skarllot introduced net-cf support to GeoAPI, I forwarded them to NetTopologySuite.
I have no means of testing net-cf though.

[2017-05-28 23:06] skarllot commented on #110
@FObermaier What you mean with "I forwarded them to NetTopologySuite"?

I've made a way to VS2015/MSBuild14 build to net-cf35. I've not got the same luck with VS2017.

[2017-05-30 11:41] airbreather commented on #110
Whoops, that wasn't meant to close this issue when merged... please re-open?

[2017-06-02 07:01] HarelM commented on #110
@airbreather thanks for your time and effort!
Haven't seen a new NuGet package though (not even a pre-release), When can I expect it?

[2017-06-02 11:39] airbreather commented on #110
@HarelM: a few posts up, I linked to this Dropbox folder:
https://www.dropbox.com/sh/y834fc6gs32rrb3/AAA2SpG7Y5fwyZGqNmoGOoA-a?dl=0

You should just be able to download those files (you probably don't need the .symbols.nupkg files) to a local folder, add that folder as a NuGet package source, and then use them like regular NuGet packages (do note that these are even more pre-releasey than others b

[2017-06-02 11:44] HarelM commented on #110
I see, I thought you are part of the team here. I have a locally compiled NuGet packages (as I wrote a few posts up :-), I was hoping that I would be able to remove them from my repository and use an official ones.
@FObermaier any thoughts when this can happen?

[2017-06-10 20:51] airbreather commented on #110
Running into [a bit of a snag](https://stackoverflow.com/q/44477840/1083771) getting the unit tests to run against all the target platforms.  I've got a bit of a crappy solution to it, but I don't like it.  Once I figure that out, I have like one more thing to go through and then it'll be all set.

It's taking me longer than expected primarily because the existing multi-platform stuff was a bit in

[2017-06-10 20:57] HarelM commented on #110
Good luck! I've written in a thread somewhere that there are too many projects IMO, I would consider reducing the number of project when possible...

[2017-06-12 11:42] DGuidi commented on #110
maybe .net standard can help reducing the supported platforms?

[2017-06-12 12:21] airbreather commented on #110
@DGuidi based on TeamCity.targets, the absolute minimum set of platform targets that the main NetTopologySuite assembly would need to hit in order to work with the same set of platforms it works with today (plus the other ones supported by .NET Standard, of course) would be:

- .NET 2.0
- .NET 3.5 Client
- .NET 4.0 Client
- .NET Portable Profile336
- .NET Standard 1.0
- .NET Standard 1.3

I'm pret

[2017-06-12 12:50] DGuidi commented on #110
@airbreather I think we can absolutely clean the list of supported platform to a minimum set that is affordable to maintain, perhaps removing older platforms like Silverlight.
Maybe we can direcly point to .NET standard 2.0 only and maintain .NET client 3-5/4.0 too.
But I'm only suggesting a way to make the project simpler: feel free (you and @FObermaier ) to handle the NTS as better as you think

[2017-06-12 13:03] xivk commented on #110
I agree, let's simplify things. I've been burned by trying to add things to NTS because of all the different platforms/legacy in there.

Let's try and clean this up...

[2017-06-12 13:09] airbreather commented on #110
One of the things my branch is doing is that whenever you build the solution, it builds for all supported targets at once, so no more "oops, even though your solution builds, you didn't check with that TeamCity.targets file, so you have to fix that".

[2017-06-12 13:16] FObermaier commented on #110
@airbreather

Me too. Wouldn't you have to add some configuration to the app.config for it to work at all? If I'm not mistaken there have been performance improvements in .NET 40 compared to .NET 20.

I admit that I added this. Actually I'm not too fond of it. In order for it to work you have to make sure that NTS is loaded in the first place (e.g. by using some NTS type).
I can life happily with

[2017-06-12 13:34] xivk commented on #110
I think so but not sure... depends on the CI server I think.

[2017-06-12 16:38] ConPac opened #171 "Polygonizer fails splitting a triangle vertically"
Hi,
Using NTS 1.14.0 (and 1.15.0-pre2) with GeoAPI 1.7.4 (and 1.7.5-pre2)

1. Given this geomList:
Count = 2
    [0]: {LINESTRING (0 0, 1 1, 2 0, 0 0)}
    [1]: {LINESTRING (1 2, 1 -1)}

1. Testing this code:
[code]

3. Expected result is ``ps.Count == 2`` but ps has this:
Count = 1
    [0]: {POLYGON ((0 0, 1 1, 2 0, 0 0))}

Am I missing something?

[2017-06-12 20:00] FObermaier commented on #171
This is not a bug, it is a feature.
Unioning two adjacent polygons whose borders touch partially will result in one polygon as well.

[2017-06-13 07:33] ConPac commented on #171
Well, it seems I oversimplifized my input data.
Processing the input geometries through a LineMerger, I have this new test case:

1. Given this geomList:
Count = 5
    [0]: {LINESTRING (1 0, 1 -1)}
    [1]: {LINESTRING (1 1, 2 0, 1 0)}
    [2]: {LINESTRING (1 1, 1 0)}
    [3]: {LINESTRING (1 0, 0 0, 1 1)}
    [4]: {LINESTRING (1 2, 1 1)}

1. Testing this code:
[code]

3. Expected result is ps.Coun

[2017-06-13 08:22] FObermaier commented on #171
Does
[code]
yield the desired result? There (used ?) to be an error in the initialization code. The default constructor should have set `_extractOnlyPolygonal` to true, but it did not.

What are you trying to achieve anyway? For splitting a polygon in by a linestring see [this](https://github.com/NetTopologySuite/NetTopologySuite/blob/master/NetTopologySuite.Samples.Console/Operation/Polygonize/Sp

[2017-06-13 09:57] ConPac commented on #171
Hi Felix,

Using the overloaded constructor doesn't give the desired result, which is the same result as previous versions.

And yes, the method where I encountered this error splits a multipolygon by a linestring. I'll give a try to the linked example.

Thanks for your support.

[2017-06-13 11:44] airbreather commented on #110
OK.  For the sake of getting the main part of this done, I'm going to finish this off by doing what I did with GeoAPI and make tests that only run against one target framework.  It's less defensible than doing the same in GeoAPI (the only framework-conditional code in covered types on that side was `[Serializable]` usage and `GeoAPI.ICloneable` vs `System.ICloneable`), but as long as we fix it lat

[2017-06-13 11:50] DGuidi commented on #110
I think supporting .NET Standard 1.0 should be made only if it's **very easy** to maintain, same as .NET 2.0. My2Cents of course.
As a side note, thanks a lot to everyone for your efforts in NTS.

[2017-06-13 13:16] airbreather commented on #110
If we're already supporting 1.3, then 1.0 is very easy.  We use only 3 services that 1.3 adds which aren't in 1.0:
- [`Encoding.ASCII`](https://github.com/airbreather/NetTopologySuite/blob/e49eeac0c800e0d6a49207ef4a1f9d2cad8820f6/NetTopologySuite/Utilities/PlatformUtilityEx.cs#L71-L77), which we could probably drop without hurting anybody's feelings.
- [a `MemoryStream` constructor overload](https

[2017-06-13 15:04] xivk commented on #110
I agree with this and I don't really see any reason to keep supporting .NET Framework 2.0, it's ancient, and not supporting it in newer packages doensn't mean the older packages go away.

[2017-06-18 22:09] HarelM commented on #110
Sounds like the right directions.
Any news when a NuGet package might be available?

[2017-06-19 11:52] airbreather commented on #110
I'm dealing with some unexpected personal issues right now that, as luck would have it, popped up shortly after I said "Expect a pull request for this early next week".  So what I have isn't quite ready yet as anticipated... sometime "soon" (in the context of when I can get back to doing more on this), I should be able to submit a pull request.  After that, it will still have to get reviewed.

[2017-06-19 12:24] xivk commented on #110
Take your time @airbreather we'er all volunteers here after all...

[2017-06-26 11:23] DGuidi commented on #110
found this post [Multi-Targeting and Porting a .NET Library to .NET Core 2.0](https://weblog.west-wind.com/posts/2017/Jun/22/MultiTargeting-and-Porting-a-NET-Library-to-NET-Core-20)...  maybe  can be useful?

[2017-06-27 13:29] xivk commented on #110
@airbreather Can you let me know what to do? I can pick up the work from here.

[2017-06-27 15:45] xivk commented on #110
FYI: I'm working on a new pull-request based on @FObermaier 's latest NET standard refactoring branch.

[2017-06-27 15:55] xivk commented on #110
Correction: working based of @airbreather 's work... a lot has been done there! 👍

[2017-06-27 16:14] airbreather commented on #110
@xivk: I'll look into it... I haven't completely disappeared, I promise.  It's just been a really stressful couple of weeks.

From what I recall, my branch is almost done; the biggest single effort I know about is to do my own self-review of all the changes, looking especially for things that the old `.csproj` files were doing that the new ones aren't.  I think I also want to take the PCL / NET20

[2017-06-27 16:17] xivk commented on #110
Ok, anything I can do to help?

Also, are these things we need to do *before* merging? I just started looking at your changes, looks like you restructured the project just as I was planning to do... 👍

Also, you have dependency on GeoAPI 1.7.4, that's not released yet, i'm assuming you built a version locally?

Anyway, let me know if I can help... things are looking very good BTW! 👍

[2017-06-27 16:24] airbreather commented on #110
GeoAPI 1.7.5 is indeed a local build from what's now the latest GeoAPI source using the nuspec and `-Version 1.7.5` or whatever the flag was.

[2017-06-29 02:07] sendreams opened #172 "[requirement] please support contour smoothing function"
I'm looking for the contour smooth algorithm, and have found some, after testing, almost all of the algorithm will make the contours going to intersection which is not correct.

<img width="793" alt="smooth1" src="https://user-images.githubusercontent.com/4160051/27668250-87802bf2-5cb2-11e7-9b06-7bf82c64a5ca.png">

<img width="792" alt="smooth2" src="https://user-images.githubusercontent.com/41600

[2017-07-06 03:37] sendreams opened #174 "the userData prop can not be reserved in OverlayOp"
[code]

the except result will be a multiPoint geometry, but each Point in multiPoint is a new object which is not the original object. if can resolve the source Point object will be nice.

[2017-07-19 01:05] terribletim opened #175 "GeometryTransform modifies source geometry"
In the following snippet, GeometryTransform unexpectedly modifies the **source** coord (GeoAPI.Geometries.Coordinate):

`rw = NetTopologySuite.CoordinateSystems.Transformations.GeometryTransform.TransformPoint(gf, new Point(coord), trans)`

I can clone the input geometry/coordinate to ensure the source coordinate is not modified, although I thought creating a new point would also achieve this. I h

[2017-07-19 10:02] xivk opened #176 "Valid geojson cannot be parsed."
This perfectly valid geosjon cannot be parsed:

https://github.com/oSoc17/rideaway-data/blob/master/src/data/gfr/11b.geojson

There are 2 TODO's here:

- [x]  Fix the immidiate issue.
- [ ] Have a look at the GeoJSON code, it's unverified to handle the geosjon spec.

[2017-07-20 07:38] HarelM commented on #110
Any updates on this? Is there anything I can do to help?
Even a pre-release version will do, can this kind of version be published please, please, please?

[2017-07-20 19:16] Kortdag opened #177 "SnapRoundOverlayFunctions"
Hi

There is a casting error in method EditGeometryCollection in GeometryEditorEx

In the latest release v1.14 the following cast throws an error

[code]

---------------------------------------------------
Changing it using LINQ seems to do the trick

[code]
----------------------------------------------------

[2017-07-20 20:14] mstauber opened #178 "Parsing GeoJSON issue related to Bounding Box"
https://gist.github.com/anonymous/9af101825f6e2bbf8b88bf6b0d711f04

[code]

Parsing this GeoJSON results in the first Feature in the collection to have a null geometry. Was able to fix this instance by commenting out line 51 in EnvelopeConverter (bounding box) which was commented as advancing the token reader past the end of the array; which was likely already taken care of by the JArray deseriali

[2017-07-26 09:30] xivk opened #179 "Changes to the packages publishing and branching"
I wanted to ask some feedback from the other maintainers here. I just setup a build in teamcity on the Itinero server. I've done this in a way very similar to what's happening in Itinero:

There are now two branches:
- master: should contain latest stable release.
- develop: the current prerelease version.

I have setup the build that it builds *and* publishes packages so it's now one push of a bu

[2017-07-26 09:38] xivk commented on #110
@HarelM I just published an series of new packages, is that what you need?

.NET core support isn't there yet in all of them still waiting for @airbreather to merge his changes back here.

[2017-07-26 09:39] #94 closed

[2017-07-26 09:39] xivk commented on #94
Discussion moved here: https://github.com/NetTopologySuite/NetTopologySuite/issues/179

[2017-07-26 09:52] HarelM commented on #110
I'm not sure, I need the following packages to work with .Net core:
 * NetTopologySuite
 * NetTopologySuite.GeoJson
 * ProjNet4GeoAPI
Can you elaborate if any of them already support .Net core?

[2017-07-26 10:26] xivk commented on #110
Only this package does:

https://www.nuget.org/packages/NetTopologySuite/1.15.0-pre2

The rest is still TODO.

[2017-07-26 10:54] DGuidi commented on #179
+1 for me, if you feel comfortable with this.

take a look also to travis ci [build](https://travis-ci.org/NetTopologySuite/NetTopologySuite)

[2017-07-26 11:51] airbreather commented on #110
Just chiming in to confirm that I still haven't totally vanished off the face of the earth.

[2017-07-26 15:18] xivk commented on #179
Yes, travis is the way to go, and we should keep it, but with a 'private' CI system we can publish the packages automatically...

[2017-07-26 18:21] FObermaier commented on #179
@xivk
Merging from develop or any other branch into master will lead to a new stable release package on nuget?
I'm not sure if I would second that. Getting prerelease packages automatically off a develop branch is fine with me.
Do we have to review the privileges for that, I mean who can merge pull-requests and shouldn't or vice versa..

[2017-07-28 10:35] xivk commented on #179
I would merge pull-requests into develop and only a core group can merge with master. Look at it like this:

- development on develop -> prereleases.
- releases are on master -> we merge when we are confident develop is stable

Doesn't really change the process and we still have to actively push a button (merge with master) to create a release. This also implies changing the default branch to 'dev

[2017-07-31 11:09] sendreams opened #180 "LineString intersection return empty"
have two line and one of them is extended to another in autocad. so i think these two line will be has intersection point. but just finding empty by NTS. is any error here?

[code]

<img width="858" alt="snap1" src="https://user-images.githubusercontent.com/4160051/28775264-a21c39f8-7623-11e7-8449-9adc39d7eca0.png">